@font-face {
  font-family: 'Merriweather';
  src: url("fonts/Merriweather-webfont.woff") format("woff"); }

@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat-Regular.woff") format("woff"); }

@font-face {
  font-family: 'logo';
  src: url("fonts/fredoka-one-v5-latin-regular.woff") format("woff"); }

img {
  max-width: 100%;
  display: block; }

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box; }

body {
  margin: 0; }

a:link {
  text-decoration: none; }

#load {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

#contents {
  display: none;
  text-align: center; }

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s; }

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0; }
  to {
    bottom: 0px;
    opacity: 1; } }

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0; }
  to {
    bottom: 0;
    opacity: 1; } }

#menucontain {
  position: fixed;
  background: #4c4556;
  color: white;
  width: 100%;
  z-index: 99;
  height: 70px; }

#ethan {
  display: none;
  font-family: "Merriweather", serif;
  font-size: 1.5em; }

#entrebgcanvas {
  display: none;
  z-index: 7; }

.leftcanvas {
  display: none; }

#menu {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  font-family: "Merriweather", serif; }

.menunow {
  font-size: 1.2em;
  transition: all 1s;
  font-weight: bold; }

#menutabscontain {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.menutabs {
  width: 20%;
  text-align: center;
  font-size: 0.6em;
  cursor: pointer; }
  .menutabs a {
    color: white; }
  .menutabs:hover .menutitle {
    font-size: 0.92em; }
  .menutabs:hover a {
    color: white; }

.menudark {
  color: #40a7f3 !important; }

.menutext {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white; }

.faicon {
  font-size: 1.5em; }

.menutitle {
  font-size: 0.9em;
  margin-left: 0;
  margin-top: 5px; }

#splashcont {
  height: 100vh;
  background-image: url("../images/bgp.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between; }

#titlecard {
  margin-bottom: 180px;
  width: 100%;
  margin: 17vh auto 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  color: white; }

#nametitle {
  width: 100%;
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 1.8em; }

#mobilewarning {
  width: 80%;
  border-radius: 15px;
  background: rgba(255, 0, 0, 0.7);
  margin: 5vh auto 0;
  padding: 10px;
  font-size: 0.8em; }

.languages {
  width: 80%;
  font-size: 0.6em;
  margin: 0 auto; }

#languagetitle {
  margin-top: 4vh;
  margin-bottom: 4px; }

#choicescont {
  display: flex;
  flex-direction: column;
  height: 30px;
  transition: height 0.5s; }

#splashcont .choicesconto {
  height: 100px; }

#choicestab {
  height: 30px;
  width: 30%;
  margin: 0 auto;
  background: #4c4556;
  border: 3px solid #40a7f3;
  border-radius: 10px 10px 0 0;
  border-bottom: none;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 5px;
  color: white;
  font-size: 0.8em; }

#choicescont .choiceso {
  height: 70px; }

#choices {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  background: #4c4556;
  border: 3px solid #40a7f3;
  border-radius: 10px 10px 0 0;
  border-bottom: none;
  height: 0;
  overflow: hidden;
  transition: height 0.5s; }
  #choices .cocon {
    opacity: 1; }

#choicesoptcont {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  opacity: 0;
  transition: opacity 0.3s; }

#legocont {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.lego {
  width: 15px;
  height: 15px;
  cursor: pointer;
  background-size: cover;
  transform: translateY(-5px); }
  .lego:hover .choicesbox {
    color: #40a7f3; }

#studentb {
  background-image: url("../images/reading.svg"); }

#entreb {
  background-image: url("../images/teacher.svg"); }

#programmerb {
  background-image: url("../images/learning.svg"); }

.filler {
  width: 15px;
  height: 15px; }

.choicesbox {
  margin-top: 5px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-weight: bold;
  color: white;
  font-size: 0.6em; }
  .choicesbox:hover {
    color: #40a7f3; }

#cheatsheet a {
  font-size: 0.7em;
  color: white;
  padding: 5px; }
  #cheatsheet a:hover {
    color: #40a7f3; }

#choices .csopen {
  display: flex; }

#cheatsheetexp {
  display: none;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 50%;
  right: 50%;
  width: 80vw;
  background: rgba(255, 255, 255, 0.8);
  transform: translate(50%, -50%);
  z-index: 99;
  padding: 25px;
  font-size: 0.8em;
  border: 3px solid #40a7f3;
  border-radius: 25px; }

#cheatsheetexpclose {
  position: fixed;
  right: 20px;
  top: 20px;
  cursor: pointer; }

#cheatsheetexptitle {
  margin-bottom: 10px;
  font-weight: bold;
  color: #4c4556; }

.slice {
  background: #e5e5e5;
  padding: 25px; }

#bioinfo {
  display: flex;
  justify-content: center; }

#biotext {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center; }

#biocontain {
  display: flex;
  width: 100%;
  position: relative;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin: 100px auto; }

#biowriting {
  width: 100%;
  color: black;
  font-family: "Merriweather", serif;
  font-size: 1em; }

#quotename {
  font-size: 0.8em;
  text-align: right;
  margin-top: 20px;
  font-family: "Merriweather", serif; }

#biopersonal {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  flex-direction: column;
  text-align: left;
  justify-content: center; }

#biotop {
  display: flex;
  flex-direction: column-reverse; }

#biotextw {
  font-size: 0.8em;
  text-align: center; }

#asa {
  margin: 15px 0;
  display: none; }

#ageinfo {
  display: none; }

#portimage {
  display: none; }

#biobottom {
  width: 95%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 0.5em; }

#thanksright {
  width: 85%;
  padding: 5px;
  text-align: left; }
  #thanksright a {
    color: #4c4556; }
    #thanksright a:hover {
      color: #40a7f3; }

#thanksleft {
  width: 15%;
  padding: 5px;
  text-align: right; }

#history {
  display: flex;
  flex-direction: column; }

#historyslice {
  background-color: #595064; }

.protitle {
  font-family: "Merriweather", serif;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  text-decoration: underline;
  margin: 20px 0 35px;
  font-weight: bold;
  color: #40a7f3;
  text-decoration: none; }

.slider-container {
  margin-bottom: 20px; }

.flexbox-slider {
  display: flex;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column-reverse; }

.flexbox-slide {
  position: relative;
  overflow: hidden;
  visibility: visible;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap; }

#flexcontainer {
  max-width: 500px;
  margin: 0 auto; }

.imgtitle {
  display: flex;
  justify-content: space-around;
  height: 100px; }

.historylogo {
  width: 50%;
  max-width: 150px; }
  .historylogo img {
    height: 100px;
    margin: 0 auto; }

.historytitles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000000;
  background: rgba(255, 255, 255, 0.6);
  font-size: 0.8em;
  font-family: "Merriweather", serif;
  max-width: 150px;
  width: 50%; }

.historydates {
  font-size: 0.7em;
  width: 100%;
  margin-top: 10px; }

.textblock {
  width: 100%;
  z-index: 2;
  display: flex;
  position: relative;
  flex-direction: row;
  overflow: hidden;
  height: 0;
  justify-content: center;
  transition: height 1s; }

.tbopen {
  height: 250px; }

.historyicons {
  display: none; }

.historytext {
  border-top: 1px solid rgba(0, 0, 0, 0.6);
  text-align: left;
  overflow: hidden;
  margin: 0 5px 5px;
  padding: 15px;
  font-size: 0.55em;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  opacity: 0;
  transition: opacity 1s; }

.hton {
  opacity: 1; }

.jobtitle {
  margin-bottom: 15px;
  text-align: center;
  width: 100%; }

.dutylist ul {
  padding-left: 20px; }

.dutylist ul li {
  margin-bottom: 10px; }

.nowcalled {
  font-size: 0.9em; }
  .nowcalled a {
    color: #4c4556; }
    .nowcalled a:hover {
      color: #40a7f3; }

#inscriberslide {
  background: #8a96a5; }

#teachingslide {
  background: #888; }

#englishslide {
  background: #8a96a5; }

#freggieslide {
  background: #888; }

#winterslide {
  background: #8a96a5; }

#projectslice {
  position: relative;
  background: #e5e5e5; }

#projectcont {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-right: auto;
  margin-left: auto; }

.project {
  width: 80%;
  margin-bottom: 50px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
  transition: all 800ms; }
  .project img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; }
  .project:hover .protext {
    background-color: #40a7f3;
    margin: 15px 0; }

.project:after {
  padding-top: 56.25%;
  display: block;
  content: ''; }

.protext {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 100px 0;
  display: flex;
  background-color: transparent;
  transition: all 800ms; }

.protextcont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  margin: 10px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  overflow: hidden; }

.protextt {
  width: 100%;
  font-family: "Merriweather", serif; }

.protextw {
  font-size: 0.7em; }

#projectoverlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 9999;
  padding: 15px;
  width: 90%;
  max-height: 80vh; }

.allovers {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column-reverse; }

#closeover {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 0.8em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  background: white;
  border: 1px solid grey;
  border-radius: 25px;
  cursor: pointer; }

.overlayleft {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px; }

#overlaytitle {
  font-size: 1em;
  font-family: "Merriweather", serif;
  text-decoration: underline;
  margin-bottom: 10px;
  text-align: center; }

#overlaytext {
  font-size: 0.7em; }

#overlayskills {
  margin: 10px 0;
  font-size: 0.7em; }

#overlayurl a {
  color: #40a7f3;
  font-size: 0.6em; }

.overlayright {
  border: 2px dashed #96858F;
  justify-content: center;
  display: flex; }
  .overlayright img {
    max-height: 20vh;
    margin: 10px; }

#availableslice {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  background-color: #595064;
  width: 100%;
  color: white;
  position: relative; }

#availablehalf {
  padding: 20px;
  width: 100%;
  font-size: 0.8em;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

#availabletext, #resumetext {
  width: 70%;
  padding: 5px; }

.buttonstyle {
  background-color: #4c4556;
  padding: 10px;
  border-radius: 10px;
  font-size: 0.7em;
  border: 2px solid black;
  cursor: pointer;
  color: white; }
  .buttonstyle:hover {
    background-color: #40a7f3; }

#availabletext {
  width: 80%;
  text-align: left; }

#blogcenter {
  background: #e5e5e5;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px; }

#blogcentercont {
  display: flex;
  flex-direction: column;
  align-items: center; }

#blogtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1em;
  text-align: left;
  width: 85%;
  margin-bottom: 15px; }

#blogcont {
  text-align: left;
  font-size: 0.8em;
  border: 1px solid #b2b2b2;
  border-radius: 20px;
  width: 85%;
  margin-bottom: 15px;
  padding: 20px; }

#blogdate {
  margin-bottom: 7px;
  font-weight: bold;
  font-size: 0.9em; }

#blogdata {
  margin-bottom: 5px; }

#resumehalf {
  padding: 20px;
  width: 100%;
  background-color: #332e3a;
  font-size: 0.8em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  #resumehalf .buttonstyle {
    background-color: #332e3a;
    border: 2px solid #655c72;
    color: white; }
    #resumehalf .buttonstyle:hover {
      background-color: #40a7f3; }

#update {
  font-size: 0.6em;
  margin-right: 10px;
  margin-bottom: 5px; }

#contactslice {
  display: none;
  position: relative; }

#inquiryform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto; }

#titlereturn {
  width: 100%; }

#contactclose {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 40px;
  right: 30px;
  font-size: 1em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  background: white;
  border: 1px solid grey;
  border-radius: 25px;
  cursor: pointer; }

#returnmessage {
  font-size: 0.7em;
  color: green;
  text-align: center;
  margin-bottom: 30px; }

label {
  font-size: 0.8em; }

h3 {
  text-align: center;
  font-size: 20px; }

input {
  width: 100%;
  height: 35px;
  margin: 5px 0 15px;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px; }

input[type=button] {
  background-color: #4c4556;
  border: 1px solid white;
  font-Weight: bold;
  font-size: 18px;
  color: white;
  border: 1px solid #4c4556; }
  input[type=button]:hover {
    background-color: #40a7f3;
    border: 1px solid #4c4556; }

textarea {
  width: 100%;
  height: 80px;
  margin-top: 5px;
  border-radius: 3px;
  padding: 5px;
  resize: none; }

.required {
  color: red; }

.contactinfo {
  display: flex;
  align-items: center; }
  .contactinfo label {
    width: 40%;
    text-align: left;
    padding: 5px; }

#contactmessage {
  width: 100%;
  margin: 20px auto 0;
  max-width: 400px; }

#footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #e5e5e5 !important;
  align-items: center; }

#footercont {
  display: flex;
  width: 100%;
  justify-content: space-around; }

.contacttype {
  width: 35%;
  text-align: center;
  font-size: 2em;
  color: #4c4556;
  cursor: pointer; }
  .contacttype .footertext {
    font-size: .35em;
    visibility: hidden;
    font-weight: bold;
    font-family: "Merriweather", serif;
    margin-top: 5px; }
  .contacttype:hover {
    color: #40a7f3; }
    .contacttype:hover .footertext {
      visibility: visible;
      color: #40a7f3; }

.fi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#footmessage {
  font-size: 0.6em;
  margin-top: 10px; }

#sitebuild {
  color: black; }

.footlink a {
  color: #4c4556;
  font-weight: bold; }
  .footlink a:hover {
    color: #40a7f3; }

@media screen and (orientation: landscape) {
  #titlecard {
    margin-top: 70px;
    width: 90%; }
  #nametitle {
    font-size: 1.4em;
    padding: 10px; }
  #mobilewarning {
    margin-top: 0vh;
    width: 60%;
    font-size: 0.6em; }
  #languagetitle {
    margin-top: 3vh; }
  .allovers {
    flex-direction: row; }
  .protextt {
    font-size: 1.4em; }
  .protextw {
    font-size: 1em; }
  .overlayright img {
    max-height: 40vh; }
  #inquiryform {
    justify-content: space-between; }
  #contactinfocont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .contactinfo {
    width: 45%; }
  #contactmessage {
    margin: 20px auto 0; }
  #submit {
    margin-top: 10px; } }

@media screen and (min-width: 576px) {
  #menucontain {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  #ethan {
    display: block;
    margin-left: 25px; }
  #menu {
    width: 100%;
    padding-top: 0; }
  .menutabs {
    font-size: 0.8em; }
  #nametitle {
    font-size: 2.5em; }
  #mobilewarning {
    width: 60%; }
  #languagetitle {
    margin-top: 14vh; }
  .languages {
    font-size: 1em; }
  #biocontain {
    width: 75%; }
  #biowriting {
    font-size: 1.5em; }
  #biotextw {
    font-size: 1em; }
  #quotename {
    font-size: 1.1em; }
  #biobottom {
    font-size: 0.7em; }
  .historytext {
    font-size: 0.75em; }
  .project {
    width: 40%; }
  .overlayleft {
    font-size: 1.3em; }
  .protextt {
    font-size: 0.8em; }
  .protextw {
    font-size: 0.6em; }
  .contacttype {
    font-size: 2.2em; }
  #footmessage {
    font-size: 0.7em; } }

@media screen and (min-width: 576px) and (orientation: landscape) {
  #titlecard {
    width: 70%; }
  #nametitle {
    font-size: 1.8em;
    padding: 5px; }
  #languagetitle {
    margin-top: 3vh;
    margin-bottom: 3vh; }
  .languages {
    font-size: 0.6em; }
  #mobilewarning {
    margin-top: 0; } }

@media screen and (min-width: 768px) {
  #menucontain {
    flex-direction: column;
    justify-content: space-around;
    top: 0;
    left: 0;
    width: 10%;
    height: 100vh; }
  #ethan {
    position: absolute;
    top: 60px;
    left: 0;
    margin-bottom: 150px;
    background: #4c4556;
    border-radius: 25%;
    padding: 20px;
    z-index: 99;
    color: #e5e5e5;
    border: 5px solid #40a7f3; }
  .leftcanvas {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block; }
  #menu {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90vh; }
  .menutabs {
    width: 110%;
    display: flex;
    justify-content: center;
    transition: all 1s;
    z-index: 99;
    background: #40a7f3;
    font-size: 0.6em; }
    .menutabs a {
      color: black;
      text-decoration: none; }
    .menutabs:hover {
      background: #0c74c1; }
      .menutabs:hover a {
        color: #e5e5e5; }
  #menutabscontain {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%; }
  .menudark {
    background: #0c74c1; }
    .menudark a {
      color: #e5e5e5; }
  #historymenu, #projectmenu, #contactme {
    border-top: 1px solid #0c74c1; }
  .menutext {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px; }
  .menutitle {
    margin-top: 5px; }
  #contentcontain {
    position: absolute;
    left: 10%;
    width: 90%; }
  #splashcont {
    align-items: center;
    background-position: top center;
    background-size: cover;
    justify-content: space-between; }
  #titlecard {
    margin-bottom: 50px;
    margin-top: 12vh; }
  #nametitle {
    font-size: 3em; }
  #mobilewarning {
    display: none; }
  .languages {
    width: 60%;
    font-size: 0.8em; }
  #languagetitle {
    margin-top: 31vh; }
  #choicescont {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    top: 50vh;
    transform: translateY(-50%);
    height: auto; }
    #choicescont .choicesh {
      width: 150px;
      height: 300px; }
  #choicestab {
    flex-direction: column;
    align-items: center;
    border: 4px solid #40a7f3;
    border-radius: 10px 10px 0 0;
    border-bottom: none;
    transform-origin: right bottom;
    transform: rotate(270deg) translateX(65px);
    width: 100px;
    padding-bottom: 0; }
  #choices {
    flex-direction: column;
    border: 4px solid #40a7f3;
    border-radius: 10px 0 0 10px;
    border-right: none;
    height: 300px;
    width: 0;
    transition: all 1s;
    justify-content: flex-start; }
  #legocont {
    flex-direction: column;
    height: 200px; }
  #biocontain {
    width: 90%;
    margin: 0;
    height: 420px; }
  #biowriting {
    font-size: 1.8em;
    width: 100%; }
  #quotename {
    font-size: 1em; }
  #biotop {
    flex-direction: row;
    align-items: center; }
  #biotextw {
    font-size: 0.8em;
    text-align: left; }
  #asa, #ageinfo {
    display: block; }
  #biopersonaltext {
    width: 75%; }
  #portimage {
    display: block;
    margin: 0 15px;
    width: 25%; }
  #thanksright a {
    font-size: 1.2em;
    color: #4c4556; }
    #thanksright a:hover {
      color: #40a7f3; }
  #thanksleft {
    font-size: 1.2em; }
  .protitle {
    font-size: 2.5em; }
  .project {
    width: 30%;
    margin-right: 10px; }
    .project:hover .protext {
      margin: 15px 0; }
  #projectoverlay {
    max-height: 80vh;
    width: 80%;
    left: 55%; }
  #closeover {
    width: 50px;
    height: 50px;
    top: -20px;
    right: -20px;
    font-size: 1.3em; }
  .allovers {
    padding: 25px; }
  #overlaytitle {
    font-size: 1.3em; }
  #overlaytext {
    font-size: 0.8em; }
  #overlayskills {
    font-size: 0.8em; }
  #overlayurl a {
    font-size: 0.9em; }
  #availablehalf {
    width: 40%;
    font-size: 1em;
    padding: 50px 0 50px 50px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    overflow: visible; }
  #availabletext {
    width: 80%;
    text-align: left; }
  #blogcenter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: 30%;
    border-radius: 10px;
    border: 3px solid #7e738e;
    padding: 10px;
    font-size: 0.8em; }
  #resumehalf {
    width: 60%;
    font-size: 1em;
    padding: 50px 50px 50px 30px;
    background: linear-gradient(to top right, transparent 50%, #332e3a 50%) no-repeat, linear-gradient(to top right, transparent 0.1%, #332e3a 0.1%) no-repeat;
    background-size: 60.5% 100%, 40% 100%;
    background-position: 0% 0%, 100% 0%;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    align-items: flex-end; }
    #resumehalf .buttonstyle {
      width: auto; }
  #resumetext {
    width: 50%;
    text-align: right; }
  #contactclose {
    width: 40px;
    height: 40px;
    font-size: 1.5em; }
  #inquiryform {
    width: 80%; }
  .contacttype {
    font-size: 2.3em; }
  #footmessage {
    font-size: 0.75em; } }

@media screen and (min-width: 768px) and (orientation: landscape) {
  #titlecard {
    margin-top: 13vh; }
  #nametitle {
    font-size: 2.5em; }
  #languagetitle {
    margin-top: 20vh; }
  #inquiryform {
    width: 70%; } }

@media screen and (min-width: 992px) {
  #menucontain {
    width: 7%; }
  .menutabs {
    font-size: 0.6em; }
  #contentcontain {
    width: 93%;
    left: 7%; }
  #titlecard {
    margin-top: 12vh; }
  #languagetitle {
    margin-top: 28vh; }
  #biopersonaltext {
    padding-right: 10px; }
  #portimage {
    width: 20%; }
  .flexbox-slider {
    font-size: 2.5em;
    flex-direction: row-reverse;
    height: 500px; }
  .flexbox-slide {
    width: 20%;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
    display: flex;
    transition: width 1s;
    overflow: hidden; }
    .flexbox-slide:hover .imgtitle {
      height: 100px;
      overflow: hidden;
      flex-direction: row;
      margin-bottom: 20px; }
    .flexbox-slide:hover .historytitles {
      height: 100px;
      margin-top: 0;
      margin-left: 10px; }
    .flexbox-slide:hover .historylogo {
      height: 100px; }
  .flexopen {
    width: 80%; }
  #flexcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: none; }
  .imgtitle {
    flex-direction: column;
    height: auto; }
  .historylogo {
    width: auto;
    margin: 0 auto; }
    .historylogo img {
      height: auto; }
  .historytitles {
    font-size: 0.28em;
    padding: 5px;
    width: 100%;
    height: 100px;
    margin-top: 20px;
    max-width: none; }
  .historylogoside {
    width: 50%; }
  .historylogo img {
    height: 100px; }
  .historytitlesside {
    width: 50%; }
  .textblock {
    width: 90%;
    margin: 10px auto 0;
    height: 270px;
    display: none; }
  .tbon {
    display: flex; }
  .historytext {
    padding: 15px;
    opacity: 0;
    font-size: 0.3em;
    margin: 0; }
  .hton {
    opacity: 1; }
  .dutylist ul li {
    margin-bottom: 5px; }
  .project {
    width: 20%; }
  .allovers {
    flex-direction: row; }
  .overlayleft {
    width: 50%; }
  .overlayright {
    margin-left: 20px; }
    .overlayright img {
      max-height: 40vh; }
  #overlaytext {
    margin: 50px 0; }
  .protextt {
    font-size: 0.7em; }
  .protextw {
    font-size: 0.55em; }
  .buttonstyle {
    font-size: 0.8em;
    margin-top: 20px; }
  #availablehalf {
    font-size: 0.9em;
    padding: 40px 0 40px 40px; }
  #blogcenter {
    font-size: 1em; }
  #blogtitle {
    width: 95%; }
  #blogcont {
    padding: 15px; }
  #resumehalf {
    padding: 40px 40px 40px 30px; }
  #returnmessage {
    font-size: 0.8em; } }

@media screen and (min-width: 1200px) {
  .menutabs {
    font-size: 0.7em; }
  #biocontain {
    align-items: center;
    flex-direction: row;
    width: 80%; }
  #biowriting {
    font-size: 2.1em; }
  #quotename {
    font-size: 1.2em; }
  #biopersonal {
    left: 5%; }
  #biotextw {
    font-size: 1em; }
  .historytitles {
    font-size: 0.34em; }
  .historytext {
    font-size: 0.3em; }
  .jobtitle {
    margin-bottom: 25px; }
  .overlayright img {
    max-height: 50vh; }
  .protextcont {
    font-size: 1.4em; }
  #availablehalf {
    font-size: 1em;
    padding: 70px 0 70px 60px; }
  #resumehalf {
    font-size: 1em;
    padding: 70px 60px 70px 70px; }
  .buttonstyle {
    margin-top: 40px; }
  #contactinfocont {
    width: 75%;
    margin: 0 auto; }
  #footercont {
    width: 90%; }
  .contacttype {
    font-size: 3em;
    margin-bottom: 5px; } }

@media screen and (min-width: 1600px) {
  #ethan {
    font-size: 2em; }
  .menutabs {
    font-size: 0.85em; }
  #nametitle {
    font-size: 4em; }
  #biocontain {
    width: 75%;
    margin: 60px 0; }
  #biowriting {
    font-size: 3em; }
  #quotename {
    font-size: 1.6em; }
  #biotextw {
    font-size: 1.3em; }
  #biobottom {
    font-size: 1em; }
  .flexbox-slide:hover #flexcontainer {
    flex-direction: row;
    padding: 0; }
  .flexbox-slide:hover .imgtitle {
    flex-direction: column;
    height: auto;
    width: 30%;
    margin-bottom: 0; }
  .flexbox-slide:hover .historytitles {
    margin-left: 0;
    height: 70px;
    width: auto; }
  .flexbox-slide:hover .historylogo {
    height: 150px;
    width: auto;
    max-width: none; }
    .flexbox-slide:hover .historylogo img {
      height: auto; }
  .flexbox-slide:hover .textblock {
    width: 70%;
    height: 375px; }
  .flexbox-slide:hover .historytext {
    border-top: none;
    border-left: 1px solid black; }
  .historytitles {
    font-size: 0.4em;
    padding: 15px; }
  .historytext {
    font-size: 0.4em;
    padding: 25px; }
  #availablehalf, #resumehalf {
    font-size: 1.3em; }
  #blogcenter {
    font-size: 1.2em; }
  .contacttype {
    font-size: 3.5em; }
  #footmessage {
    font-size: 1em; } }

@media screen and (min-width: 992px) and (min-aspect-ratio: 16 / 8) {
  #titlecard {
    margin-top: 16vh; }
  #languagetitle {
    margin-top: 29vh; }
  #biocontain {
    align-items: center;
    text-align: center; }
  #inquiryform {
    width: 70%; } }
