@font-face {
  font-family: "Raleway";
  src: url("fonts/raleway-regular.woff") format("woff"); }

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Regular.woff") format("woff"); }

img {
  max-width: 100%;
  display: block; }

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box; }

body {
  margin: 0; }

a:link {
  text-decoration: none; }

.pink {
  color: #f9245e; }

.yellow {
  color: #e7db60; }

.green {
  color: #a6e22b; }

#load {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

#contents {
  display: none;
  text-align: center; }

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s; }

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0; }
  to {
    bottom: 0px;
    opacity: 1; } }

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0; }
  to {
    bottom: 0;
    opacity: 1; } }

.menu {
  display: flex;
  justify-content: space-around;
  font-family: "Raleway", serif;
  height: 70px; }
  @media screen and (min-width: 576px) {
    .menu {
      width: 100%;
      padding-top: 0; } }
  @media screen and (min-width: 768px) {
    .menu {
      flex-direction: column;
      justify-content: space-between;
      height: 90vh;
      position: relative; } }

.menucontain {
  position: fixed;
  background: #554a65;
  color: white;
  width: 100%;
  z-index: 99; }
  @media screen and (min-width: 576px) {
    .menucontain {
      display: flex;
      align-items: center;
      justify-content: space-between; } }
  @media screen and (min-width: 768px) {
    .menucontain {
      flex-direction: column;
      justify-content: space-around;
      width: 10%;
      height: 100vh; } }
  @media screen and (min-width: 992px) and (orientation: landscape) {
    .menucontain {
      width: 7%; } }

#ethan {
  font-family: "Raleway", serif;
  font-size: 11em;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 70px;
  display: flex;
  align-items: center; }
  @media screen and (min-width: 768px) {
    #ethan {
      position: relative;
      left: 15%;
      width: 110%;
      transform: translate3d(0, 0, 0);
      background: #554a65;
      border-radius: 25%;
      padding: 40px 20px;
      z-index: 99;
      color: #e5e5e5;
      border: 2px solid #6e6082;
      box-shadow: -4px 4px 0px #6e6082; } }
  @media screen and (min-width: 1600px) {
    #ethan {
      font-size: 1.7em; } }

#entrebgcanvas {
  display: none;
  z-index: 7; }

.leftcanvas {
  display: none; }
  @media screen and (min-width: 768px) {
    .leftcanvas {
      height: 100vh;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: block; } }

.menunow {
  font-size: 1.2em;
  transition: all 1s;
  font-weight: bold; }

#menutabscontain {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media screen and (min-width: 768px) {
    #menutabscontain {
      flex-direction: column;
      justify-content: flex-end;
      height: 100%; } }

#menu__left,
#menu__right {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  #menu__left a,
  #menu__right a {
    width: 48%; }
    @media screen and (min-width: 768px) {
      #menu__left a,
      #menu__right a {
        width: 110%; } }
  @media screen and (min-width: 768px) {
    #menu__left,
    #menu__right {
      display: flex;
      flex-direction: column;
      width: 110%; } }

.menutabs {
  text-align: center;
  font-size: 0.6em;
  cursor: pointer; }
  @media screen and (min-width: 576px) {
    .menutabs {
      font-size: 0.8em; } }
  @media screen and (min-width: 1600px) {
    .menutabs {
      font-size: 0.85em; } }
  @media screen and (min-width: 768px) {
    .menutabs {
      width: 110%;
      display: flex;
      justify-content: center;
      transition: all 1s;
      z-index: 99;
      background: #1b679d;
      font-size: 0.6em;
      padding: 5px; }
      .menutabs a {
        color: black;
        text-decoration: none; }
      .menutabs:hover {
        background: #2283c9; }
        .menutabs:hover a {
          color: #e5e5e5; } }
  @media screen and (min-width: 992px) and (orientation: landscape) {
    .menutabs {
      font-size: 0.6em;
      width: 110%; } }
  @media screen and (min-width: 1200px) {
    .menutabs {
      font-size: 0.7em; } }
  @media screen and (min-width: 1600px) {
    .menutabs {
      font-size: 0.85em; } }

@media screen and (min-width: 768px) {
  .menudark {
    background: #1b679d; }
    .menudark a {
      color: #e5e5e5; } }

@media screen and (min-width: 768px) {
  #historymenu,
  #projectmenu,
  #contactme {
    border-top: 1px solid #175888; } }

.menutext {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 5px; }
  @media screen and (min-width: 768px) {
    .menutext {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      color: black; } }

.faicon {
  display: none; }

.menutitle {
  font-size: 0.9em;
  margin-left: 0;
  margin-top: 5px;
  color: #e5e5e5; }
  @media screen and (min-width: 768px) {
    .menutitle {
      margin-top: 5px;
      font-size: 1.1em; } }

@media screen and (min-width: 768px) {
  #contentcontain {
    position: absolute;
    left: 10%;
    width: 90%; } }

@media screen and (min-width: 992px) and (orientation: landscape) {
  #contentcontain {
    width: 93%;
    left: 7%; } }

#alert {
  display: none; }

#splashcont {
  height: 100vh;
  padding-top: 23vh;
  background-image: url("/images/bgp.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  position: relative; }
  @media screen and (orientation: landscape) {
    #splashcont {
      padding-top: 80px; } }
  @media screen and (min-width: 768px) {
    #splashcont {
      align-items: center;
      background-position: top center;
      background-size: cover;
      justify-content: space-between;
      position: relative; } }
  @media screen and (min-width: 768px) and (orientation: landscape) {
    #splashcont {
      padding-top: 0; } }

#titlecard {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  align-items: center;
  flex-grow: 1;
  height: 100%; }
  @media screen and (min-width: 768px) {
    #titlecard {
      margin: 0; } }
  @media screen and (min-width: 992px) and (min-aspect-ratio: 16 / 8) {
    #titlecard {
      margin-top: 3vh; } }

#motto {
  display: none; }

#motto--sm {
  display: none; }

#desktop {
  width: 80%;
  margin-bottom: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  position: relative; }
  @media screen and (orientation: landscape) {
    #desktop {
      margin-bottom: 20px;
      width: 45%; } }
  @media screen and (min-width: 768px) {
    #desktop {
      width: 60%;
      background: url(../images/menubar.png) no-repeat;
      background-size: contain;
      background-position: bottom center;
      margin-bottom: 50px; } }

.desktop__items--sm {
  width: 20%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media screen and (min-width: 768px) {
    .desktop__items--sm {
      width: auto; }
      .desktop__items--sm:hover .desktop__items__text {
        background: rgba(34, 131, 201, 0.9); } }

.desktop__items__img {
  cursor: pointer; }
  @media screen and (min-width: 768px) {
    .desktop__items__img {
      height: 85px; } }
  .desktop__items__img:hover {
    transform: scale(1.05); }

.desktop__items__img--sm {
  display: block; }
  @media screen and (min-width: 768px) {
    .desktop__items__img--sm {
      display: none; } }

.desktop__items__img--lg {
  display: none; }
  @media screen and (min-width: 768px) {
    .desktop__items__img--lg {
      width: 75px;
      display: block; } }

.desktop__items__text {
  font-size: 0.7em;
  margin-top: 5px;
  cursor: pointer; }
  @media screen and (min-width: 768px) {
    .desktop__items__text {
      color: white;
      z-index: 99;
      transform: translateY(-20px);
      background: rgba(34, 131, 201, 0.4);
      padding: 5px;
      border-radius: 6px; } }

.desktop__over {
  position: absolute;
  bottom: 28vh;
  width: 70%;
  visibility: hidden;
  flex-wrap: wrap;
  display: flex; }
  @media screen and (orientation: landscape) {
    .desktop__over {
      width: 50%; } }
  @media screen and (min-width: 768px) {
    .desktop__over {
      position: relative;
      justify-content: center;
      width: 90%;
      bottom: 0; } }

.desktop__over--open {
  visibility: visible; }

.desktop__over__contain {
  width: 100%; }
  @media screen and (min-width: 768px) {
    .desktop__over__contain {
      width: auto;
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      justify-content: center;
      margin: auto;
      height: 50vh; } }

.desktop__over__each {
  display: none;
  flex-direction: column;
  text-align: left;
  font-size: 0.45em;
  line-height: 1.4em;
  border: 1px solid #abb1ba; }
  @media screen and (orientation: landscape) {
    .desktop__over__each {
      bottom: 20vh;
      font-size: 0.25em; } }
  @media screen and (min-width: 768px) {
    .desktop__over__each {
      margin: 5px;
      width: auto;
      font-size: 0.48em;
      max-width: 350px; } }
  @media screen and (min-width: 1600px) {
    .desktop__over__each {
      font-size: 0.55em;
      max-width: 450px; } }

.editor {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  font-size: .55em;
  text-align: left;
  color: #ded; }
  .editor.open {
    display: block; }

.desktop__over__open--one {
  display: flex;
  width: 100%;
  flex-grow: 1; }
  @media screen and (min-width: 768px) {
    .desktop__over__open--one {
      flex-grow: 1;
      width: 20vw;
      height: 30vh;
      font-size: 0.48em; } }

@media screen and (min-width: 768px) {
  .desktop__over__open--multi {
    display: flex;
    width: 30vw;
    height: 20vh;
    font-size: 0.4em;
    min-width: 280px; } }

@media screen and (min-width: 768px) and (orientation: landscape) {
  .desktop__over__open--multi {
    height: 33vh;
    min-width: 230px; } }

@media screen and (min-width: 992px) and (orientation: landscape) {
  .desktop__over__open--multi {
    height: 25vh; } }

.theme__each {
  cursor: pointer; }

.over__title {
  background: white;
  height: 20px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media screen and (min-width: 768px) {
    .over__title {
      height: 20px; } }

.over__title__text {
  padding: 5px; }

.over__title__close {
  width: 25px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  cursor: pointer; }
  .over__title__close:hover {
    background: #eee; }

.editor__content {
  height: 27vh;
  background: #282923;
  display: flex;
  padding: 10px 5px 10px 0;
  overflow-y: scroll; }
  @media screen and (min-width: 576px) {
    .editor__content {
      font-size: 1.8em;
      line-height: 1.2em; } }
  @media screen and (min-width: 768px) {
    .editor__content {
      flex-grow: 1; } }
  @media screen and (min-width: 768px) and (orientation: landscape) {
    .editor__content {
      font-size: 1.3em;
      line-height: 1.3em; } }
  @media screen and (min-width: 1200px) {
    .editor__content {
      font-size: 1.4em; } }

.editor__content a {
  color: white; }

.editor__content__nums {
  width: 20px;
  padding: 0 10px;
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 576px) {
    .editor__content__nums {
      width: 25px; } }
  @media screen and (min-width: 768px) {
    .editor__content__nums {
      width: 30px; } }

.editor__content--indented {
  margin-left: 5px; }
  @media screen and (min-width: 576px) {
    .editor__content--indented {
      margin-left: 10px; } }

.editor__status {
  background: #abb1ba;
  height: 15px; }
  @media screen and (min-width: 768px) {
    .editor__status {
      height: 20px; } }

.over__content {
  height: 27vh;
  background: white;
  border: 1px solid #abb1ba;
  border-right: none;
  border-left: none;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  overflow-Y: scroll; }
  @media screen and (min-width: 768px) {
    .over__content {
      height: 15vh;
      flex-grow: 1; } }

.over__content__each {
  color: black;
  font-size: 1.3em;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-right: 10px; }
  @media screen and (orientation: landscape) {
    .over__content__each {
      font-size: 2.2em; } }
  @media screen and (min-width: 768px) {
    .over__content__each {
      font-size: 1.5em; } }
  @media screen and (min-width: 768px) and (orientation: landscape) {
    .over__content__each {
      font-size: 1.5em; } }

.theme__each__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 55px;
  height: 55px;
  text-align: center; }
  @media screen and (min-width: 1600px) {
    .theme__each__icon {
      width: 85px;
      height: 85px; } }
  .theme__each__icon img {
    margin-bottom: 5px;
    width: 30px;
    height: 30px; }
    @media screen and (min-width: 768px) {
      .theme__each__icon img {
        width: 35px;
        height: 35px; } }
    @media screen and (min-width: 1600px) {
      .theme__each__icon img {
        width: 65px;
        height: 65px; } }

.desktop__link {
  color: #222; }

.over__status {
  background: white;
  height: 15px;
  color: black;
  display: flex;
  align-items: center;
  padding: 2px; }

#nametitle {
  width: 100%;
  font-family: "Raleway", serif;
  font-weight: bold;
  font-size: 1.8em; }
  @media screen and (orientation: landscape) {
    #nametitle {
      font-size: 1.4em;
      padding: 10px; } }
  @media screen and (min-width: 576px) {
    #nametitle {
      font-size: 2.5em; } }
  @media screen and (min-width: 576px) and (orientation: landscape) {
    #nametitle {
      font-size: 1.8em;
      padding: 5px; } }
  @media screen and (min-width: 768px) {
    #nametitle {
      font-size: 3em; } }
  @media screen and (min-width: 768px) and (orientation: landscape) {
    #nametitle {
      font-size: 2.5em; } }
  @media screen and (min-width: 1600px) {
    #nametitle {
      font-size: 4em; } }

.theme__exp {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 75%;
  background: #e5e5e5;
  border-radius: 15px;
  border: 2px solid #554a65;
  font-size: 0.6em; }
  @media screen and (orientation: landscape) {
    .theme__exp {
      width: 40vw; } }
  @media screen and (min-width: 768px) {
    .theme__exp {
      width: 35vw;
      font-size: .7em; } }
  @media screen and (min-width: 1200px) {
    .theme__exp {
      width: 30vw;
      font-size: .8em; } }
  @media screen and (min-width: 1600px) {
    .theme__exp {
      width: 25vw;
      font-size: 1em; } }
  .theme__exp.csopen {
    display: block; }

.theme__exp__contain {
  position: relative;
  padding: 15px;
  text-align: left; }
  @media screen and (min-width: 768px) {
    .theme__exp__contain {
      padding: 20px; } }
  @media screen and (min-width: 1200px) {
    .theme__exp__contain {
      padding: 25px; } }
  @media screen and (min-width: 1600px) {
    .theme__exp__contain {
      padding: 30px; } }

.theme__exp__close {
  position: absolute;
  right: 5%;
  top: 5%;
  cursor: pointer;
  color: #2283c9; }

.theme__exp__title {
  font-size: 1.4em;
  margin-bottom: 10px;
  text-align: center;
  color: #554a65; }

#choices__contain {
  display: none; }

.slice {
  background: #e5e5e5;
  padding: 25px; }

.anchor {
  margin-top: -70px;
  position: absolute; }
  @media screen and (min-width: 768px) {
    .anchor {
      margin-top: 0px; } }

#bioinfo {
  display: flex;
  justify-content: center; }

#biotext {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center; }

#biocontain {
  display: flex;
  width: 100%;
  position: relative;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin: 100px auto; }
  @media screen and (min-width: 576px) {
    #biocontain {
      width: 75%; } }
  @media screen and (min-width: 768px) {
    #biocontain {
      width: 90%;
      margin: 0;
      height: 420px; } }
  @media screen and (min-width: 1200px) {
    #biocontain {
      align-items: center;
      flex-direction: row;
      width: 80%; } }
  @media screen and (min-width: 1600px) {
    #biocontain {
      width: 75%;
      margin: 60px 0; } }
  @media screen and (min-width: 992px) and (min-aspect-ratio: 16 / 8) {
    #biocontain {
      align-items: center;
      text-align: center; } }

#biowriting {
  width: 100%;
  color: black;
  font-family: "Raleway", serif;
  font-size: 1em; }
  @media screen and (min-width: 576px) {
    #biowriting {
      font-size: 1.5em; } }
  @media screen and (min-width: 768px) {
    #biowriting {
      font-size: 1.8em;
      width: 100%; } }
  @media screen and (min-width: 1200px) {
    #biowriting {
      font-size: 2.1em; } }
  @media screen and (min-width: 1600px) {
    #biowriting {
      font-size: 3em; } }

#quotename {
  font-size: 0.8em;
  text-align: right;
  margin-top: 20px;
  font-family: "Raleway", serif; }
  @media screen and (min-width: 576px) {
    #quotename {
      font-size: 1.1em; } }
  @media screen and (min-width: 768px) {
    #quotename {
      font-size: 1em; } }
  @media screen and (min-width: 1200px) {
    #quotename {
      font-size: 1.2em; } }
  @media screen and (min-width: 1600px) {
    #quotename {
      font-size: 1.6em; } }

.biopersonal {
  display: block;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  height: 0px;
  overflow: hidden; }
  @media screen and (min-width: 1200px) {
    .biopersonal {
      left: 5%; } }

.unhidden {
  height: auto; }

#nature {
  display: none; }

#biotop {
  display: flex;
  flex-direction: column-reverse; }
  @media screen and (min-width: 768px) {
    #biotop {
      flex-direction: row;
      align-items: center; } }

#biotextw {
  font-size: 0.8em;
  text-align: center; }
  @media screen and (min-width: 576px) {
    #biotextw {
      font-size: 1em; } }
  @media screen and (min-width: 768px) {
    #biotextw {
      font-size: 0.8em;
      text-align: left; } }
  @media screen and (min-width: 1200px) {
    #biotextw {
      font-size: 1em; } }
  @media screen and (min-width: 1600px) {
    #biotextw {
      font-size: 1.3em; } }

#asa {
  margin: 15px 0;
  display: none; }
  @media screen and (min-width: 768px) {
    #asa {
      display: block; } }

#ageinfo {
  display: none; }
  @media screen and (min-width: 768px) {
    #ageinfo {
      display: block; } }

@media screen and (min-width: 768px) {
  .biopersonaltext {
    width: 75%; } }

@media screen and (min-width: 992px) and (orientation: landscape) {
  .biopersonaltext {
    padding-right: 10px; } }

#portimage {
  display: none; }
  @media screen and (min-width: 768px) {
    #portimage {
      display: block;
      margin: 0 15px;
      width: 25%; } }
  @media screen and (min-width: 992px) and (orientation: landscape) {
    #portimage {
      width: 100%; } }

#biobottom {
  width: 95%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 0.5em; }
  @media screen and (min-width: 576px) {
    #biobottom {
      font-size: 0.7em; } }
  @media screen and (min-width: 1600px) {
    #biobottom {
      font-size: 1em; } }

#thanksright {
  width: 85%;
  padding: 5px;
  text-align: left; }
  @media screen and (min-width: 768px) {
    #thanksright {
      font-size: 1.2em; } }
  #thanksright a {
    color: #2283c9; }
    #thanksright a:hover {
      text-decoration: underline; }

#thanksleft {
  width: 15%;
  padding: 5px;
  text-align: right; }
  @media screen and (min-width: 768px) {
    #thanksleft {
      font-size: 1.2em; } }

#history {
  display: flex;
  flex-direction: column; }

#historyslice {
  background-color: #615574; }

.protitle {
  font-family: "Raleway", serif;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  text-decoration: underline;
  margin: 35px 0 50px;
  font-weight: bold;
  color: #2283c9;
  text-decoration: none; }
  @media screen and (min-width: 768px) {
    .protitle {
      font-size: 2.5em; } }

.history--title {
  color: #e5e5e5; }

.slider-container {
  margin-bottom: 20px; }

.flexbox-slider {
  display: flex;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column-reverse; }
  @media screen and (min-width: 992px) and (orientation: landscape) {
    .flexbox-slider {
      font-size: 2.5em;
      flex-direction: row-reverse;
      height: 500px; } }

.flexbox-slide {
  position: relative;
  overflow: hidden;
  visibility: visible;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  transition: max-height 1s;
  max-height: 100px;
  height: auto;
  cursor: pointer; }
  @media screen and (min-width: 992px) and (orientation: landscape) {
    .flexbox-slide {
      max-height: 500px;
      flex: 1;
      flex-direction: row;
      padding: 10px;
      justify-content: center;
      display: flex;
      overflow: hidden;
      transition: all 1s; }
      .flexbox-slide:hover .clickinform {
        display: block; }
      .flexbox-slide.open {
        flex: 6;
        padding: 50px;
        transition: all 1s ease-in-out; }
        .flexbox-slide.open:hover .clickinform {
          display: none; }
        .flexbox-slide.open:hover .imgtitle {
          border: none; } }

.clickinform {
  display: none; }
  @media screen and (min-width: 992px) and (orientation: landscape) {
    .clickinform {
      display: none;
      position: absolute;
      top: 25px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 0.3em;
      color: #4c4c4c;
      width: 100%; } }
  @media screen and (min-width: 1600px) {
    .clickinform {
      font-size: 0.4em; } }

.open {
  max-height: 500px;
  transition: all 1s ease-in-out; }

.flexcontainer {
  max-width: 500px;
  margin: 0 auto; }
  @media screen and (min-width: 992px) and (orientation: landscape) {
    .flexcontainer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; } }
  @media screen and (min-width: 1600px) {
    .flexcontainer {
      flex-direction: row;
      max-width: none; } }

.imgtitle {
  display: flex;
  justify-content: space-around; }
  @media screen and (min-width: 992px) and (orientation: landscape) {
    .imgtitle {
      flex-direction: column;
      height: auto;
      max-width: 150px; } }

@media screen and (min-width: 992px) and (orientation: landscape) {
  .itopen {
    flex-direction: row;
    max-width: none; } }

@media screen and (min-width: 1600px) {
  .itopen {
    flex-direction: column; } }

.historylogo {
  width: 50%;
  max-width: 150px;
  display: flex;
  align-items: center; }
  @media screen and (min-width: 992px) and (orientation: landscape) {
    .historylogo {
      width: auto;
      margin: 0 auto; } }
  @media screen and (min-width: 1600px) {
    .historylogo {
      margin: 0;
      width: 150px; } }
  .historylogo img {
    margin: 0 auto; }
    @media screen and (min-width: 992px) and (orientation: landscape) {
      .historylogo img {
        height: 100px; } }

.historytitles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000000;
  background: rgba(255, 255, 255, 0.6);
  font-size: 0.7em;
  font-family: "Raleway", serif;
  max-width: 150px;
  width: 50%; }
  @media screen and (min-width: 992px) and (orientation: landscape) {
    .historytitles {
      font-size: 0.28em;
      padding: 5px;
      width: 100%;
      height: 100px;
      max-width: none; } }
  @media screen and (min-width: 1200px) {
    .historytitles {
      font-size: 0.34em; } }
  @media screen and (min-width: 1600px) {
    .historytitles {
      font-size: 0.4em;
      padding: 15px;
      width: 150px; } }

@media screen and (min-width: 992px) and (orientation: landscape) {
  .historylogoside {
    width: 50%; } }

@media screen and (min-width: 1600px) {
  .historylogoside {
    width: 150px; } }

@media screen and (min-width: 992px) and (orientation: landscape) {
  .historytitlesside {
    width: 50%; } }

@media screen and (min-width: 1600px) {
  .historytitlesside {
    width: 150px; } }

.historydates {
  font-size: 0.7em;
  width: 100%;
  margin-top: 10px; }

.textblock {
  width: 100%;
  z-index: 2;
  display: flex;
  position: relative;
  flex-direction: row;
  overflow: hidden;
  height: 0;
  justify-content: center;
  transition: height 1s; }
  @media screen and (min-width: 992px) and (orientation: landscape) {
    .textblock {
      width: 90%;
      margin: 0 auto 0;
      height: 0px;
      display: flex;
      transition: height 1s; } }
  @media screen and (min-width: 1600px) {
    .textblock {
      width: 0px;
      height: 400px;
      margin: 0;
      transition: width 1s; } }

@media screen and (min-width: 992px) and (orientation: landscape) {
  .tbon {
    height: 270px; } }

@media screen and (min-width: 1600px) {
  .tbon {
    width: 500px;
    height: auto; } }

.tbopen {
  height: 250px; }

.historyicons {
  display: none; }

.historytext {
  border-top: 1px solid rgba(0, 0, 0, 0.6);
  text-align: left;
  overflow: hidden;
  margin: 0 5px 5px;
  padding: 15px;
  font-size: 0.54em;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  opacity: 0;
  transition: opacity 1s; }
  @media screen and (min-width: 576px) {
    .historytext {
      font-size: 0.75em; } }
  @media screen and (min-width: 992px) and (orientation: landscape) {
    .historytext {
      padding: 15px;
      opacity: 0;
      font-size: 0.3em;
      margin: 0; } }
  @media screen and (min-width: 1600px) {
    .historytext {
      font-size: 0.4em;
      padding: 25px;
      border-top: none;
      border-left: 1px solid black; } }

.hton {
  opacity: 1; }
  @media screen and (min-width: 992px) and (orientation: landscape) {
    .hton {
      opacity: 1; } }

@media screen and (min-width: 1600px) {
  .fcon {
    justify-content: flex-start;
    width: 100%; } }

.jobtitle {
  margin-bottom: 15px;
  text-align: center;
  width: 100%;
  font-weight: bold; }
  @media screen and (min-width: 1200px) {
    .jobtitle {
      margin-bottom: 25px; } }

.dutylist ul {
  padding-left: 20px; }

.dutylist ul li {
  margin-bottom: 10px; }
  @media screen and (min-width: 992px) and (orientation: landscape) {
    .dutylist ul li {
      margin-bottom: 5px; } }

.nowcalled {
  font-size: 0.9em; }
  .nowcalled a {
    color: #554a65; }
    .nowcalled a:hover {
      color: #2283c9; }

#inscriberslide {
  background: #8a96a5; }

#teachingslide {
  background: #888; }

#englishslide {
  background: #8a96a5; }

#freggieslide {
  background: #888; }

#winterslide {
  background: #8a96a5; }

#projectslice {
  position: relative;
  background: #e5e5e5; }

#projectcont {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-right: auto;
  margin-left: auto; }

.project {
  width: 80%;
  margin-bottom: 50px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
  transition: all 800ms; }
  .project:after {
    padding-top: 56.25%;
    display: block;
    content: ""; }
  @media screen and (min-width: 576px) {
    .project {
      width: 40%; } }
  @media screen and (min-width: 768px) {
    .project {
      width: 30%;
      margin-right: 10px; }
      .project:hover .protext {
        margin: 15px 0; } }
  @media screen and (min-width: 992px) and (orientation: landscape) {
    .project {
      width: 20%; } }
  .project:hover .protext {
    background-color: #2283c9;
    margin: 15px 0; }
  .project img {
    max-width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; }

.protext {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 100px 0;
  display: flex;
  background-color: transparent;
  transition: all 800ms; }

.protextcont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  margin: 10px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  overflow: hidden; }
  @media screen and (min-width: 1200px) {
    .protextcont {
      font-size: 1.4em; } }

.protextt {
  width: 100%;
  font-family: "Raleway", serif; }
  @media screen and (orientation: landscape) {
    .protextt {
      font-size: 1.4em; } }
  @media screen and (min-width: 576px) {
    .protextt {
      font-size: 0.8em; } }
  @media screen and (min-width: 992px) and (orientation: landscape) {
    .protextt {
      font-size: 0.7em; } }

.protextw {
  font-size: 0.7em; }
  @media screen and (orientation: landscape) {
    .protextw {
      font-size: 1em; } }
  @media screen and (min-width: 576px) {
    .protextw {
      font-size: 0.6em; } }
  @media screen and (min-width: 992px) and (orientation: landscape) {
    .protextw {
      font-size: 0.55em; } }

#projectoverlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 9999;
  padding: 15px;
  width: 90%;
  height: 80vh;
  display: none;
  border: 2px dashed #2283c9; }
  #projectoverlay.show {
    display: block; }
  @media screen and (min-width: 768px) {
    #projectoverlay {
      height: 90vh;
      width: 60%;
      left: 55%; } }
  @media screen and (min-width: 992px) and (orientation: landscape) {
    #projectoverlay {
      max-height: 75vh; } }

.allovers {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  display: none;
  justify-content: center;
  align-items: center;
  text-align: left;
  flex-direction: column-reverse;
  width: 100%;
  padding: 15px; }
  .allovers.show {
    display: flex; }
  @media screen and (orientation: landscape) {
    .allovers {
      flex-direction: row; } }
  @media screen and (min-width: 768px) {
    .allovers {
      padding: 25px; } }
  @media screen and (min-width: 992px) and (orientation: landscape) {
    .allovers {
      flex-direction: row; } }

#closeover {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 0.8em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2283c9;
  background: white;
  border: 2px solid #554a65;
  border-radius: 25px;
  cursor: pointer;
  z-index: 2;
  transition: all .3s linear; }
  #closeover:hover {
    color: #554a65;
    border: 2px solid #2283c9; }
  @media screen and (min-width: 768px) {
    #closeover {
      width: 50px;
      height: 50px;
      top: -20px;
      right: -20px;
      font-size: 1.3em; } }

.overlayleft {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  font-size: .7em; }
  @media screen and (min-width: 576px) {
    .overlayleft {
      font-size: .8em; } }
  @media screen and (min-width: 992px) and (orientation: landscape) {
    .overlayleft {
      width: 50%;
      line-height: 1.1em;
      font-size: .9em; } }
  @media screen and (min-width: 1200px) {
    .overlayleft {
      font-size: 1.4em; } }

.overlaytitle {
  font-size: 1em;
  font-family: "Raleway", serif;
  margin-bottom: 5px;
  text-align: center;
  line-height: 1.3em; }
  @media screen and (min-width: 768px) {
    .overlaytitle {
      font-size: 1.3em; } }

.overlayurl {
  font-size: 0.5em;
  text-align: center;
  text-decoration: underline; }
  .overlayurla {
    color: #2283c9; }
    @media screen and (min-width: 768px) {
      .overlayurla {
        font-size: 1em; } }

.overlaytext {
  font-size: 0.8em;
  margin: 15px 0 5px; }
  .overlaytext .overlaytext--sm {
    font-size: 0.85em;
    margin-bottom: 20px;
    position: relative; }
    .overlaytext .overlaytext--sm:after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 25%;
      border-bottom: 1px dashed #554a65; }
  @media screen and (min-width: 768px) {
    .overlaytext {
      font-size: 0.8em;
      margin: 25px 0 5px; } }
  @media screen and (min-width: 1200px) {
    .overlaytext {
      margin: 50px 0 5px; } }

.overlayskills {
  font-size: 0.6em;
  position: relative;
  margin-top: 20px; }
  .overlayskills:after {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 25%;
    border-top: 1px dashed #554a65; }
  @media screen and (min-width: 768px) {
    .overlayskills {
      font-size: 0.7em; } }

.overlayright {
  border: 2px dashed #554a65;
  justify-content: center;
  display: flex; }
  @media screen and (min-width: 992px) and (orientation: landscape) {
    .overlayright {
      margin-left: 20px; } }
  .overlayright img {
    max-height: 30vh;
    margin: 15px;
    max-width: 450px; }
    @media screen and (orientation: landscape) {
      .overlayright img {
        max-height: 40vh; } }
    @media screen and (min-width: 992px) and (orientation: landscape) {
      .overlayright img {
        max-height: 50vh; } }
    @media screen and (min-width: 1200px) {
      .overlayright img {
        max-height: 65vh; } }
    @media screen and (min-width: 1600px) {
      .overlayright img {
        max-height: 50vh; } }

#availableslice {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  background-color: #615574;
  width: 100%;
  color: white;
  position: relative; }

#availablehalf {
  padding: 20px;
  width: 100%;
  font-size: 0.8em;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  @media screen and (min-width: 768px) {
    #availablehalf {
      width: 40%;
      font-size: 1em;
      padding: 50px 0 50px 50px;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      overflow: visible; } }
  @media screen and (min-width: 992px) and (orientation: landscape) {
    #availablehalf {
      font-size: 0.9em;
      padding: 40px 0 40px 40px; } }
  @media screen and (min-width: 1200px) {
    #availablehalf {
      font-size: 1em;
      padding: 70px 0 70px 60px; } }
  @media screen and (min-width: 1600px) {
    #availablehalf {
      font-size: 1.3em; } }

#availabletext,
#resumetext {
  width: 70%;
  padding: 5px; }

@media screen and (min-width: 768px) {
  #resumetext {
    width: 50%;
    text-align: right; } }

.buttonstyle {
  background-color: #554a65;
  padding: 10px;
  border-radius: 10px;
  font-size: 0.7em;
  border: 2px solid black;
  cursor: pointer;
  color: white; }
  @media screen and (min-width: 992px) and (orientation: landscape) {
    .buttonstyle {
      font-size: 0.8em;
      margin-top: 20px; } }
  @media screen and (min-width: 1200px) {
    .buttonstyle {
      margin-top: 40px; } }
  .buttonstyle:hover {
    background-color: #2283c9; }

#availabletext {
  width: 80%;
  text-align: left; }
  @media screen and (min-width: 768px) {
    #availabletext {
      width: 80%;
      text-align: left; } }

#blogcenter {
  background: #e5e5e5;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 250px;
  width: 100%;
  padding: 10px; }
  @media screen and (min-width: 768px) {
    #blogcenter {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: white;
      width: 30%;
      border-radius: 10px;
      border: 3px solid #87799c;
      font-size: 0.8em; } }
  @media screen and (min-width: 768px) and (orientation: landscape) {
    #blogcenter {
      max-height: 400px; } }
  @media screen and (min-width: 992px) and (orientation: landscape) {
    #blogcenter {
      font-size: 1em;
      width: 30%; } }
  @media screen and (min-width: 1600px) {
    #blogcenter {
      font-size: 1.2em; } }

#blogtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1em;
  text-align: left;
  width: 85%;
  margin-bottom: 15px; }
  @media screen and (min-width: 992px) and (orientation: landscape) {
    #blogtitle {
      width: 95%; } }

#blogcont {
  text-align: left;
  font-size: 0.8em;
  border: 1px solid #b2b2b2;
  border-radius: 20px 20px 0 0;
  border-bottom: none;
  width: 85%; }
  @media screen and (min-width: 992px) and (orientation: landscape) {
    #blogcont {
      padding: 15px; } }

#blogdate {
  margin-bottom: 7px;
  font-weight: bold;
  font-size: 0.9em; }

#blogdata {
  margin-bottom: 5px;
  padding: 20px; }
  @media screen and (min-width: 992px) and (orientation: landscape) {
    #blogdata {
      padding: 0px; } }

#blogtext {
  width: 90%;
  margin: 0 auto; }

#blogwhen {
  width: 85%;
  margin: 0 auto 20px;
  border-radius: 10px; }

#dates {
  background: #554a65;
  width: 100%;
  height: 40px;
  border-radius: 0 0 20px 20px;
  color: white;
  text-align-last: center; }

.blogoption {
  background: #554a65;
  cursor: pointer; }

#resumehalf {
  padding: 20px;
  width: 100%;
  background-color: #3c3448;
  font-size: 0.8em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  @media screen and (min-width: 768px) {
    #resumehalf {
      width: 60%;
      font-size: 1em;
      padding: 50px 50px 50px 30px;
      background: linear-gradient(to top right, transparent 50%, #3c3448 50%) no-repeat, linear-gradient(to top right, transparent 0.1%, #3c3448 0.1%) no-repeat;
      background-size: 60.5% 100%, 40% 100%;
      background-position: 0% 0%, 100% 0%;
      flex-direction: column;
      justify-content: space-between;
      text-align: right;
      align-items: flex-end; }
      #resumehalf .buttonstyle {
        width: auto; } }
  @media screen and (min-width: 992px) and (orientation: landscape) {
    #resumehalf {
      padding: 40px 40px 40px 30px; } }
  @media screen and (min-width: 1200px) {
    #resumehalf {
      font-size: 1em;
      padding: 70px 60px 70px 70px; } }
  @media screen and (min-width: 1600px) {
    #resumehalf {
      font-size: 1.3em; } }
  #resumehalf .buttonstyle {
    background-color: #3c3448;
    border: 2px solid #6e6082;
    color: white; }
    #resumehalf .buttonstyle:hover {
      background-color: #2283c9; }

#update {
  font-size: 0.6em;
  margin-right: 10px;
  margin-bottom: 5px; }

#contactslice {
  display: none;
  position: relative;
  border-bottom: 1px dashed #2283c9; }

#inquiryform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto; }
  @media screen and (orientation: landscape) {
    #inquiryform {
      justify-content: space-between; } }
  @media screen and (min-width: 768px) {
    #inquiryform {
      width: 80%; } }
  @media screen and (min-width: 768px) and (orientation: landscape) {
    #inquiryform {
      width: 70%; } }
  @media screen and (min-width: 992px) and (min-aspect-ratio: 16 / 8) {
    #inquiryform {
      width: 70%; } }

#titlereturn {
  width: 100%; }

#contactclose {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 40px;
  right: 30px;
  font-size: 0.8em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  background: white;
  border: 1px solid grey;
  border-radius: 25px;
  cursor: pointer; }
  @media screen and (min-width: 768px) {
    #contactclose {
      width: 40px;
      height: 40px;
      font-size: 1.5em; } }

#returnmessage {
  font-size: 0.7em;
  color: green;
  text-align: center;
  margin-bottom: 30px; }
  @media screen and (min-width: 992px) and (orientation: landscape) {
    #returnmessage {
      font-size: 0.8em; } }

label {
  font-size: 0.8em; }

h3 {
  text-align: center;
  font-size: 20px; }

#submit {
  width: 100%;
  height: 35px;
  margin: 5px 0 15px;
  border-radius: 3px;
  padding: 5px;
  background-color: #554a65;
  border: 1px solid white;
  font-weight: bold;
  font-size: 18px;
  color: white;
  border: 1px solid #554a65; }
  #submit:hover {
    background-color: #2283c9;
    border: 1px solid #554a65; }
  @media screen and (orientation: landscape) {
    #submit {
      margin-top: 10px; } }

textarea {
  width: 100%;
  height: 80px;
  margin-top: 5px;
  border-radius: 3px;
  padding: 5px;
  resize: none; }

.required {
  color: red; }

.contactinfo {
  display: flex;
  align-items: center; }
  @media screen and (orientation: landscape) {
    .contactinfo {
      width: 45%; } }
  .contactinfo label {
    width: 40%;
    text-align: left;
    padding: 5px; }

@media screen and (orientation: landscape) {
  #contactinfocont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; } }

@media screen and (min-width: 1200px) {
  #contactinfocont {
    width: 75%;
    margin: 0 auto; } }

#contactmessage {
  width: 100%;
  margin: 20px auto 0;
  max-width: 400px; }
  @media screen and (orientation: landscape) {
    #contactmessage {
      margin: 20px auto 0; } }

#footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #e5e5e5 !important;
  align-items: center; }

#footercont {
  display: flex;
  width: 100%;
  justify-content: space-around; }
  @media screen and (min-width: 1200px) {
    #footercont {
      width: 90%; } }

.contacttype {
  width: 35%;
  text-align: center;
  font-size: 2em;
  color: #554a65;
  cursor: pointer; }
  @media screen and (min-width: 576px) {
    .contacttype {
      font-size: 2.2em; } }
  @media screen and (min-width: 768px) {
    .contacttype {
      font-size: 2.3em; } }
  @media screen and (min-width: 1200px) {
    .contacttype {
      font-size: 3em;
      margin-bottom: 5px; } }
  @media screen and (min-width: 1600px) {
    .contacttype {
      font-size: 3.5em; } }
  .contacttype a {
    color: #554a65; }
  .contacttype .footertext {
    font-size: 0.35em;
    visibility: hidden;
    font-weight: bold;
    font-family: "Raleway", serif;
    margin-top: 5px; }
  .contacttype:hover {
    color: #2283c9; }
    .contacttype:hover a {
      color: #2283c9; }
    .contacttype:hover .footertext {
      visibility: visible;
      color: #2283c9; }

.fi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.footericon a {
  color: #554a65; }

#footmessage {
  font-size: 0.6em;
  margin-top: 10px; }
  @media screen and (min-width: 576px) {
    #footmessage {
      font-size: 0.7em; } }
  @media screen and (min-width: 768px) {
    #footmessage {
      font-size: 0.75em; } }
  @media screen and (min-width: 1600px) {
    #footmessage {
      font-size: 1em; } }

.attri {
  font-size: 0.6em; }

#sitebuild {
  color: black; }

.footlink a {
  color: #554a65;
  font-weight: bold; }
  .footlink a:hover {
    color: #2283c9; }
