@font-face {
  font-family: 'indie_flowerregular';
  src: url('IndieFlower-webfont.eot');
  src: url('IndieFlower-webfont.eot?#iefix') format('embedded-opentype'),
       url('IndieFlower-webfont.woff2') format('woff2'),
       url('IndieFlower-webfont.woff') format('woff'),
       url('IndieFlower-webfont.ttf') format('truetype'),
       url('IndieFlower-webfont.svg#indie_flowerregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

$brightcolor: #fdf829;
$shirtcolor: #afadb0;
$menubgcolor: #31c2fe;
$headertext:'indie_flowerregular', cursive;
$regulartext: 'Lobster', cursive;
$menutextc: white;
$menuiconsize: 1.5em;
$menufontsize: 0.9em;
$menubackground: $menubgcolor;
$menuhighlight: #d8db12; 
$smallmenupaddingtop: 20px;
$frontimage: url('../images/body.jpg');
$darkslice: #9099A2;
$topc: $menubgcolor;
$bottomc: $menubgcolor;
$biocontainbg: grey;
$biowritingc: black;
$biowritings: 2.7em;
$bioquestions: 2.5em;
$bioquestionc: $menubgcolor;
$footercolor: darken($brightcolor, 20%);

// fonts
img{
  max-width: 100%;
}

.animate {
  transition: all 1.2s;
}

.hidden {
  visibility: hidden !important;
}

.gone {
  display: none !important;
}

* {
  font-family: $headertext;
}

body {
  margin: 0;
}

#load {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#contents {
  display: none;
  text-align: center;
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#menucontain {
  position: fixed;
  background: $menubackground;
  color: white;
  width: 100%;
  z-index: 99;
  
  @media screen and (min-width: 800px) {
    position: fixed;
    top: 0;
    left: 0; 
    width: 7%;
    height: 100vh;
  }
}

#particles-js {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
}

.leftcanvas {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
}

#mycanvas {
  display: none;
  width: 100%;
  height: 100vh;
}

#menu {
  display: flex;
  justify-content: center;
  padding-top: $smallmenupaddingtop;
  color: $menutextc;
  font-family: $headertext;
  
  @media screen and (min-width: 800px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin-top: 10vh;
    padding-top: 0;
  }
}
    
a {
  color: $menutextc;
}

.menunow {
  color: $brightcolor;
  font-size: 1.2em;
  transition: all 1s;
  font-weight: bold;
}

.menutabs {
  width: 20%;
  text-align: center;

  @media screen and (min-width: 800px) {
    height: 60px;
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: all 1s;
    margin: 15px 0;
    z-index: 99;
    background: rgba(43,142,181,0.6);
    padding: 5px 3px;
    border-radius: 10px;

    &:hover {
      font-size: 1.2em;
      
      a {
        color: $brightcolor;
      }
    }
   
  }
}

.faicon{
  font-size: $menuiconsize;
}

.menutitle {
  font-size: $menufontsize;

  a {
    text-decoration: none;
  }
}

#contactme {
  cursor: pointer;
}

#contentcontain {
  
  @media screen and (min-width: 800px) {
  position: absolute;
  left: 7%;
  width: 93%;
  }
}
  
#splashcont {
  height: 100vh;
  background-image: $frontimage;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

#titlecard {
  margin-left: auto; 
  margin-right: auto; 
  padding-top: 30px;
  width: 100%;
  width: 40%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: white;
}

#nametitle {
  width: 100%;              
  font-family: $headertext;
  font-weight: bold;
  font-size: 3em;
}

#namemotto {
  width: 100%;
  font-family: $regulartext;
  font-size: 1.5em;
  margin-top: 20px;
  color: black;
}
    
#choices {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto 30px auto;
  align-items: center;
}


.choicesbox {
  height: 48px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-family: $regulartext;
  font-weight: bold;
  color: white;
}

.lego {
  width: 100px;
  height: 56px;
  background-image: url("../images/legor.png");
  background-size: cover;
  margin-top: 20px;
  cursor: pointer;
}

#programmerb {
  background-image: url("../images/legob.png");
}

#entreb {
  background-image: url("../images/legog.png");
}

.slice {
  background: $brightcolor;
  padding: 25px;
}

#bioslice {
  background-color: $brightcolor;
}

#bioinfo {
  display: flex;
  justify-content: center;
  padding: 30px;
}

#biotext {
  width: 100%;
  display:flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

#biocontain {
  display: flex; 
  width: 80%;
  position:relative;
  padding: 0 50px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  height: 420px;
  margin: 0 auto;
  
}

#biowriting {
  width: 100%;
  font-size: $biowritings;
  color: $biowritingc;
  font-family: $regulartext;
}

#quotename {
  font-size: 1.5em;
  text-align: right;
  margin-top: 20px;
  font-family: $regulartext;
}

#biopersonal {
  display:flex;
  // padding: 50px;
  align-items: center;
  position: absolute;
  top: 25px;
  left: 0;
  flex-direction: column;
  text-align: left;
}

#biotop {
  display: flex;
  flex-direction: row;
}

#biotext {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

#biotextw {
  padding-right: 50px;
  font-size: 1.2em;
}

#portimage {
  max-width: 100%;
}

#biobottom {
  width: 80%;
  display: flex;
  justify-content: center;
}

#thanksright {
  width: 85%;
  padding: 5px;
  text-align: left;
  
  a {
    color: $menubgcolor;
  }
}

#thanksleft {
  width: 15%;
  padding: 5px;
  text-align: right;
}

#history {
  display: flex;
  flex-direction: column;
}

#historyslice {
  background-color: white;
}

#protitle {
  font-family: $headertext;
  width: 100%;
  text-align: center;
  font-size: 3em;
  text-decoration: underline;
  margin: 20px 0;
  font-weight: bold;
  color: darken($menubgcolor, 20%);
  text-decoration: none;
}

//----------------------------
// History Slider
//----------------------------

.slider-container {
  margin-bottom: 20px;
}

.flexbox-slider {
  display: flex;
  width: 90%;
  height: 500px;
  // visibility: hidden;
  margin-right: auto;
  margin-left: auto;
}
  
.flexbox-slide {
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0s;
  width: 20%;
  height: 100%;
  position: relative;
  overflow: hidden;
  visibility: visible;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  &:hover {
    width: 80%;
  }
}

.textblock {
  width: 90%;
  margin: 10px auto 10px;
  z-index: 2;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
     

.historytitles {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #000000;
  padding: 10px;
  font-weight: bold;
  background: rgba(255,255,255,0.6);
  height: 80px;
  font-size: 1.2em;
}

.historytext {
  padding: 0px 20px;
  display: block;
  text-align: left;
  background: rgba(255,255,255,0.6);
  overflow: hidden;
  height: 200px;
  margin-bottom: 15px;
  font-size: 0.9em;
}

.historydates {
  font-weight: normal;
  width: 100%;
}

.historyicons {
  width: 90px;
  height: 200px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.historylogo {
  max-width: 200px; 
  margin: 0 auto 20px;  
}

.nowcalled {
  font-size: 0.6em;
  
  a {
    color: $menubgcolor;
  }

}

#inscriberslide {
  background: #ff0000;
}

#teachingslide {
  background: #ffff00;
}

#englishslide {
  background: #0000ff;
}

#freggieslide {
  background: #00ff00;
}

#winterslide {
  background: #ad00ad;
}

#projectslice {
  position: relative;
  background: $brightcolor;
}

#projectcont {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

#freggietext {
  font-family: 'Lobster', cursive;
}
  
.project{
  width: 20%;
  margin-bottom: 50px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 10px;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;

  .bottom {
    height:0px; 
    width:0px; 
    background:transparent; 
    position:absolute; 
    top:200px; 
    left:300px; 
    border-style: solid; 
    border-width: 0 0 151px 260px; 
    border-color: transparent transparent $brightcolor;
  }

  .top {
    height:0px; 
    width:0px; 
    background:transparent; 
    position:absolute; 
    top:-220px; 
    left:-320px; 
    border-style: solid; 
    border-width: 151px 260px 0px 0px; 
    border-color: $brightcolor transparent transparent; 
    z-index: 98;
  }

  .protext {
    margin-top: 50px;
    margin-bottom: 10px;
    width: 100%;
    position: absolute;
    top: 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 0em;
    transition: all 1s;
    background-color: transparent;
    z-index: 99;

    .protextt{
      transition: all 1s;
      z-index: 999;
      font-family: $headertext;
      width: 100%;
    }

    .protextw{
      transition: all 1s;
      z-index: 999;
      font-family: $regulartext;
      text-align: center;
      width: 100%;
      padding: 15px;
    }
  }
  
  &:hover {
    .top{
      top: 0px;
      left: 0px;
    }
    
    .bottom {
      top: 0px;
      left: 0px;
    }
    
    .protext {
      font-size: 1.7em;
      margin-top: 10px;
      margin-bottom: 10px;
      background-color: rgba(2, 204, 255, 0.8);
    }
    
    .protextw {
      font-size: 0.7em;
    }
  }
}

#projectoverlay {
  position: fixed;
  top:50%;
  left: 55%;
  transform: translate(-50%, 0);
  height: 600px;
  width: 80%;
  margin-top:-300px;
  background-color: rgba(255,255,255,0.9);
  z-index: 9999;
  display: flex;
}

#closeover {
  width: 50px;
  height: 50px;
  position: absolute; 
  top: -20px;
  right: -20px;
  font-size: 2em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  background: white;
  border: 1px solid grey;
  border-radius: 25px;
  cursor: pointer;
}

#overlayleft {
  width: 50%;
  padding: 40px;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

#overlaytitle{
  font-size: 3em;
  font-family: 'Lobster', cursive;
  text-decoration: underline;
  margin-bottom: 50px;
  text-align: center;
}

#overlaytext {
  font-size: 1.3em;
}

#overlayskills {
  margin-top: 30px;
  font-size: 1.3em;
  margin-bottom: 30px;
}

#overlayright {
  width: 50%;
  padding: 40px;
  margin-bottom: 20px;
  
  img {
    max-width: 100%;
    max-height: 100%;
    border: 2px dashed #96858F;
    padding: 10px;
  }
}

#availableslice {
  height: 300px;
  display: flex;
  padding: 0px;
  background-color: lighten($menubgcolor, 10%);
  width: 100%;
}

#availablehalf {
  width: 50%;
  padding: 50px 0 50px 50px;
  font-size: 1.5em;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.buttonstyle{
  background-color: $menubgcolor;
  padding: 15px;
  border-radius: 10px;
  font-size: 0.7em;
  border: 2px solid darken($menubgcolor,40%);
  color: darken($menubgcolor,40%);
  cursor: pointer;
}

#resumehalf {
  width: 50%;
  padding: 50px 50px 50px 100px;
  background-color: darken($menubgcolor,20%);
  color: white;
  text-align: right;
  font-size: 1.5em;
  background: linear-gradient(to top right, transparent 50%, darken($menubgcolor,20%) 50%) no-repeat, linear-gradient(to top right, transparent 0.1%, darken($menubgcolor,20%) 0.1%) no-repeat;
  background-size: 60.5% 100%, 40% 100%;
  background-position: 0% 0%, 100% 0%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  
  .buttonstyle{
    background-color: darken($menubgcolor,20%);
    border: 2px solid lighten($menubgcolor,20%);
    color: lighten($darkslice,20%);
  }
}

#update{
  font-size: 0.4em;
  margin-top: 10px;
  margin-right:10px;
}

#contactslice {
  display: none;
  position: relative;
}

#inquiryform {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}

#titlereturn {
  width: 100%;
}

#contactclose {
  width: 50px;
  height: 50px;
  position: absolute; 
  top: 50px;
  right: 50px;
  font-size: 2em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  background: white;
  border: 1px solid grey;
  border-radius: 25px;
  cursor: pointer;
}

#contactleft {
  width: 45%;
  display: flex;
  flex-direction: column;
}

#contactright {
  width: 45%;
  display: flex;
  flex-direction: column;
}

#contactmessage {
  width: 100%;
  margin-top: 20px;
}

#footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: $brightcolor !important;
  height: 150px !important;
  align-items: center;
}

#footercont {
  display: flex;
  width: 100%;
  justify-content: space-around;  
}
  
.contacttype{
  width: 35%;
  text-align: center;
  font-size: 3.5em;
  color: $menubgcolor;

  .footertext {
    font-size: .35em;
    visibility: hidden;
    font-weight: bold;
  }
  
  &:hover {
    color: darken($menubgcolor,20%);
    
    .footertext {
      visibility: visible;
      color: darken($menubgcolor,20%);
    }
  }
}

.fi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footmessage{
  font-size: 0.9em;
}

#sitebuild {
  color: black;
}

.footlink a{
  color: $menubgcolor;
  font-weight: bold;
}



@import url(http://fonts.googleapis.com/css?family=Fauna+One|Muli);
#mainform{
width:960px;
margin:20px auto;
padding-top:20px;
font-family: 'Fauna One', serif;
}
#form{
border-radius:2px;
padding:20px 30px;
box-shadow:0 0 15px;
font-size:14px;
font-weight:bold;
width:350px;
margin:20px 250px 0 35px;
float:left;

}
h3{
text-align:center;
font-size:20px;
}
input{
width:100%;
height:35px;
margin-top:5px;
border:1px solid #999;
border-radius:3px;
padding:5px;
}
input[type=button]{
background-color:#123456;
border:1px solid white;
font-family: 'Fauna One', serif;
font-Weight:bold;
font-size:18px;
color:white;
}
textarea{
width:100%;
height:80px;
margin-top:5px;
border-radius:3px;
padding:5px;
resize:none;
}
span{
color:red;
}
#note{
color:black;
font-Weight:400;
}
#returnmessage{
font-size:14px;
color:green;
text-align:center;
}