@font-face {
  font-family: 'Lato';
  src: url('fonts/lato-regular.woff') format('woff')
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/raleway-regular.woff') format('woff')
}

@font-face {
  font-family: 'logo';
  src: url('fonts/JosefinSlab-Bold.woff') format('woff')
}

 
// $firstcolor: e66c0b;
$rgba: rgba(13,201,247, 0.5);
$lightblue: #0dc9f7;
$grey: #7f7f7f;
$orange: #f05b47;
$red: #ed1c24;

$thirdcolorrgba: rgba(237,28,36, 0.8);
$secondcolorrgba: rgba(134, 194, 50, 0.7);
// $firstcolor: #e0e6ed;
// $secondcolor: #717171;
// $thirdcolor: #fb7e19;
// $fourthcolor: #6B7A8F;
// $fifthcolor: #F7C331;
$firstcolor: #e5e5e5;
$secondcolor: #86ba25;
$thirdcolor: #4c4556;
$fourthcolor: #222;
$fifthcolor: #ccc;

$projectoverlayradius: 5px;
// $headertext: 'Open-Sans', sans-serif;
$headertext: 'Raleway', serif;
$regulartext: 'Lato', sans-serif;
$menutextc: white;
$menuiconsize: 1.5em;
$menufontsize: 0.9em;
$menubackground: 'transparent';
$smallmenupaddingtop: 20px;
$biocontainbg: grey;
$biowritingc: black;
$biowritings: 2.7em;
$bioquestions: 2.5em;

// fonts
img {
  max-width: 100%;
}

.hidden {
  visibility: hidden !important;
}

.gone {
  display: none !important;
}

* {
  font-family: $regulartext;
  box-sizing: border-box;
}

body {
  margin: 0;
}

a:link {
  text-decoration: none;
}   

a:hover {
  color:$thirdcolor;
}   

#load {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#contents {
  display: none;
  text-align: center;
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

.menucontain {
  position: fixed;
  top: 4vh;
  left: 0;
  color: white;
  width: 100%;
  z-index: 99;
  background: $secondcolor;
  transition: all 0.5s;
  border-bottom: 1px solid darken($secondcolor, 5%);
}

#ethan {
  font-family: "logo", serif;
  font-size: 1.5em;
  z-index: 1;
  transition: color 0.5s;
}

#entrebgcanvas {
  display: none;
  z-index: 7;
}

.leftcanvas {
  display: none;
}

.menucontain .menuscroll {
  height: 70px;
}

.menuup {
  top:0;
}

.menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: $menutextc;
  font-family: $headertext;
  height: 50px;
  width: 100%;
  transition: all 0.5s;
}

.menunow {
  color: $firstcolor;
  font-size: 1.2em;
  transition: all 1s;
  font-weight: bold;
}

#menu__left, #menu__right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#menutabscontain{
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.menutabs {
  padding: 2px;
  text-align: center;
  font-size: 0.6em;

  a {
    color: white;

    &:hover {
      color: $thirdcolor;
    }
  }
}

.faicon {
  display: none;
}

.menutitle {
  font-size: $menufontsize;
  color: white;

  a {
    text-decoration: none;
    color: white;
  }
}
  
#splashcont {
  height: 75vh;
  background-image: url('../images/bge2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 25vh;
}

#alert {
  position: fixed;
  width: 100%;
  height: 4vh;
  font-size: 0.4em;
  background: $thirdcolor;
  color: white;
  display: flex;
  align-items:center;
  justify-content: space-around;
}

.alert__item a {
  color: white;
  text-decoration: underline;
}

#titlecard {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: white;
  margin: 0 auto;
  text-align: left;
  width: 100%;
  background: linear-gradient(rgba(white,0) 10%, white 40%);
}

#namotto {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 5%;
}

#motto {
  color: $secondcolor;
  font-size: 0.8em;
}

#motto--sm {
  color: black;
  font-size: 0.7em;
}

#nametitle {          
  font-family: $headertext;
  font-weight: bold;
  font-size: 1.6em;
  color: black;
}

#choices__contain {
  display: flex;
  flex-direction: column; 
  justify-content: flex-end;
  height: 25vh;
  width: 100%;
  transition: height 0.5s;
  position: absolute;
  bottom: 0;
  left:0;

}

#splashcont .choices__containo{
  height: 100px;
}

#desktop, .desktop__over {
  display: none;
}

#choicestab {
  display: none;
}

#choices__contain .choiceso {
  height: 0;
}
    
#choices {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  background: white;
  border-bottom: none;
  height: 25vh;
  overflow: hidden;
  transition: height 0.5s;

  .cocon {
    opacity: 0;
  }
}

#choicesoptcont {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  opacity: 1;
  transition: opacity 0.3s; 
}

#iconcont {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:space-around;
  align-items: center;
}

.icon {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px;

  &:hover {
    .choicesbox {
      color: $thirdcolor;
    }
  }
}

#studentb {
  background-image: url("../images/entres.png");
}

#entre {
  border: 1px solid darken($firstcolor, 10%);
  border-top: none;
  border-bottom: none;  
}

#entreb {
  background-image: url("../images/entree.png");
}

#programmerb {
  background-image: url("../images/entrep.png");
}

.icon__pic {
  width: 15px;
  height: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.choicesbox {
  margin-top: 5px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-weight: bold;
  color: black;
  font-size: 0.7em;

  &:hover {
    color: $thirdcolor;
  }
}

.textbox {
  font-size: 0.4em;
}

.slide__contain {
  display: none;
}

#cheatsheet {
  display: none;
}

#cheatsheetexp {
  display: none;
}

.slice {
  background: $firstcolor;
  padding: 25px;
}

.anchor {
  margin-top: -70px;
  position: absolute;
}


#bioinfo {
  display: flex;
  justify-content: center;
}

#biotext {
  width: 100%;
  display:flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

#biocontain {
  display: flex; 
  width: 100%;
  position:relative;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin: 100px auto;  
}

#biowriting {
  width: 100%;
  color: $biowritingc;
  font-family: $headertext;
  font-size: 1em;
}

#quotename {
  font-size: 0.8em;
  text-align: right;
  margin-top: 20px;
  font-family: $headertext;
}

.biopersonal{
  display:flex;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  flex-direction: column;
  text-align: left;
  justify-content: center;
}

#nature {
  display: none;
}

#biotop {
  display: flex;
  flex-direction: column-reverse;
}

#biotextw {
  font-size: 0.8em;
  text-align: center;
}

#asa {
  margin: 15px 0;
  display: none;
}

#ageinfo {
  display: none;
}

#portimage {
  display: none;
}

#biobottom {
  width: 95%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 0.5em;
}

#thanksright {
  width: 85%;
  padding: 5px;
  text-align: left;

  a {
  color: $secondcolor;

    &:hover {
      color: $thirdcolor;
    }
  }
}

#thanksleft {
  width: 15%;
  padding: 5px;
  text-align: right;
}

#history {
  display: flex;
  flex-direction: column;
}

#historyslice {
  background-color: lighten($secondcolor,5%);
}

.protitle {
  font-family: $headertext;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  text-decoration: underline;
  margin: 20px 0 35px;
  font-weight: bold;
  color: $thirdcolor;
  text-decoration: none;
}

.slider-container {
  margin-bottom: 20px;
}

.flexbox-slider {
  display: flex;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column-reverse;
}
  
.flexbox-slide {
  position: relative;
  overflow: hidden;
  visibility: visible;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  transition: max-height 1s;
  max-height: 100px;
  height: auto;
}

.open {
  max-height: 500px;
  transition: max-height 1s;
}

.flexcontainer {
  max-width: 500px;
  margin: 0 auto;
}

.imgtitle {
  display: flex;
  justify-content: space-around;
}

.historylogo {
  width: 50%;
  max-width: 150px;
  display:flex; 
  align-items: center;

  img {
    margin: 0 auto;
  }
}

.historytitles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000000;
  background: rgba(255,255,255,0.6);
  font-size: 0.8em;
  font-family: $headertext;
  max-width: 150px;
  width: 50%;
}

.historydates {
  font-size: 0.7em;
  width: 100%;
  margin-top: 10px;
}

.textblock {
  width: 100%;
  z-index: 2;
  display: flex;
  position: relative;
  flex-direction: row;
  overflow: hidden;
  height: 0;
  justify-content: center;
  transition: height 1s;
}

.tbopen {
  height: 250px;
}

.historyicons {
  display: none;
}

.historytext { 
  border-top: 1px solid #aaa;
  text-align: left;
  overflow: hidden;
  margin: 0 5px 5px;
  padding: 15px;
  font-size: 0.55em;
  width: 100%;
  background: rgba(255,255,255,0.6);
  opacity: 0;
  transition: opacity 1s;
}

.hton {
  opacity: 1;
}

.jobtitle {
  margin-bottom: 15px;
  text-align: center;
  width: 100%;
  font-weight: bold;
}

.dutylist ul {
  padding-left: 20px;
}

.dutylist ul li {
  margin-bottom: 10px;
}

.nowcalled {
  font-size: 0.9em;
  
  a {
    color: $secondcolor;

    &:hover {
      color: $thirdcolor;
    }
  }
}

#inscriberslide {
  background: $fourthcolor;
}

#teachingslide {
  background: $fifthcolor;
}

#englishslide {
  background: $fourthcolor;
}

#freggieslide {
  background: $fifthcolor;
}

#winterslide {
  background: $fourthcolor;
}

#projectslice {
  position: relative;
  background: $firstcolor;
}

#projectcont {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}
  
.project{
  width: 80%;
  margin-bottom: 50px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
  transition: all 800ms;


  img{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  
  &:hover {
    
    .protext {
      background-color: $thirdcolor;
      margin: 15px 0;
    }
  }
}

.project:after{
  padding-top: 56.25%;
  display: block;
  content: '';
}

.protext {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 100px 0;
  display: flex;
  background-color: transparent;
  transition: all 800ms;
}

.protextcont {
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  margin:10px;
  background: rgba(255,255,255,0.6);
  border-radius: $projectoverlayradius;
  overflow: hidden;
}

.protextt{
  width: 100%;
  font-family: $headertext;
}

.protextw {
  font-size: 0.7em;
}

#projectoverlay {
  position: fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255,255,255,0.9);
  z-index: 9999;
  padding: 15px;
  width: 90%;
  max-height: 80vh;
}

.allovers {
  display: flex; 
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column-reverse;
}

#closeover {
  width: 30px;
  height: 30px;
  position: absolute; 
  top: -10px;
  right: -10px;
  font-size: 0.8em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  background: white;
  border: 1px solid grey;
  border-radius: 25px;
  cursor: pointer;
}

.overlayleft {
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}

#overlaytitle{
  font-size: 1em;
  font-family: $headertext;
  text-decoration: underline;
  margin-bottom: 10px;
  text-align: center;
}

#overlaytext {
  font-size: 0.7em;
}

#overlayskills {
  margin: 10px 0;
  font-size: 0.7em;
}

#overlayurl a {
  color: $thirdcolor;
  font-size: 0.6em;
}

.overlayright {
  border: 2px dashed #96858F;
  justify-content: center;
  display: flex;
  
  img {
    max-height: 20vh;
    margin: 10px;
  }
}

#availableslice {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  background-color: lighten($secondcolor, 5%);
  width: 100%;
  color: white;
  position: relative;
}

#availablehalf {
  padding: 20px;
  width: 100%;
  font-size: 0.8em;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around; 
  align-items: center;  
}

#availabletext, #resumetext {
  width: 70%;
  padding: 5px;
}

.buttonstyle{
  background-color: $secondcolor;
  padding: 10px;
  border-radius: 10px;
  font-size: 0.7em;
  border: 2px solid darken($secondcolor,40%);
  cursor: pointer;
  color: white;

  &:hover {
    background-color: $thirdcolor;
  }
}


#blogcenter {
  background: $firstcolor;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#blogcentercont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#blogtitle {
  font-family: $regulartext;
  font-size: 1.1em;
  text-align: left;
  width: 85%;
  margin-bottom: 15px;
}

#blogcont {
  text-align: left;
  font-size: 0.8em;
  border: 1px solid darken($firstcolor, 20%);
  border-radius: 20px 20px 0 0;
  border-bottom: none;
  width: 85%;
}

#blogdate {
  margin-bottom: 7px;
  font-weight: bold;
  font-size: 0.9em;
}

#blogdata {
  margin-bottom: 5px;
  padding: 20px;
}

#blogtext {
  width: 90%;
  margin: 0 auto;
}

#blogwhen {
  width: 85%;
  margin: 0 auto 20px;
  border-radius: 10px;

}

#dates {
  background: $secondcolor;
  width: 100%;
  height: 40px;
  border-radius: 0 0 20px 20px;
  color: white;
  text-align-last: center;
}

.blogoption {
  background: $secondcolor;
}

#resumehalf {
  padding: 20px;
  width: 100%;
  background-color: darken($secondcolor,10%);
  font-size: 0.8em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;  
  align-items: center;  

  .buttonstyle{
    background-color: darken($secondcolor,10%);
    border: 2px solid lighten($secondcolor,10%);
    color: white;

    &:hover {
      background-color: $thirdcolor;
    }
  }
}

#update{
  font-size: 0.6em;
  margin-right:10px;
  margin-bottom: 5px;
}

#contactslice {
  display: none;
  position: relative;
  border-bottom: 1px dashed $thirdcolor;
}

#inquiryform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

#titlereturn {
  width: 100%;
}

#contactclose {
  width: 30px;
  height: 30px;
  position: absolute; 
  top: 40px;
  right: 30px;
  font-size: 1em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  background: white;
  border: 1px solid grey;
  border-radius: 25px;
  cursor: pointer;
}

#returnmessage{
  font-size: 0.7em;;
  color:green;
  text-align:center;
  margin-bottom: 30px;
}

label {
  font-size: 0.8em;
}

h3{
  text-align:center;
  font-size:20px;
}

input{
  width:100%;
  height:35px;
  margin: 5px 0 15px;
  border:1px solid #999;
  border-radius:3px;
  padding:5px;
}

input[type=button]{
  background-color: $secondcolor;
  border:1px solid white;
  font-Weight:bold;
  font-size:18px;
  color:white;
  border: 1px solid $secondcolor; 

  &:hover {
    background-color: $thirdcolor;
    border: 1px solid $secondcolor; 
  }
}

textarea{
  width:100%;
  height:80px;
  margin-top:5px;
  border-radius:3px;
  padding:5px;
  resize:none;
}

span{
  color:red;
}

.contactinfo {
  display: flex;
  align-items: center;

  label {
    width: 40%;
    text-align: left;
    padding: 5px;
  }
}

#contactmessage {
  width: 100%;
  margin: 20px auto 0;
  max-width: 400px;
}

#footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: $firstcolor !important;
  align-items: center;
}

#footercont {
  display: flex;
  width: 100%;
  justify-content: space-around;  
}
  
.contacttype{
  width: 35%;
  text-align: center;
  font-size: 2em;
  color: $secondcolor;
  cursor: pointer;

  a {
    color: $secondcolor;
  }


  .footertext {
    font-size: .35em;
    visibility: hidden;
    font-weight: bold;
    font-family: $headertext;
    margin-top: 5px;
  }
  
  &:hover {
    color: $thirdcolor;

    a {
      color: $thirdcolor;
    }
    
    .footertext {
      visibility: visible;
      color: $thirdcolor;
    }
  }
}

.fi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footmessage{
  font-size: 0.6em;
  margin-top: 10px;
}

#sitebuild {
  color: black;
}

.footlink a{
  color: $secondcolor;
  font-weight: bold;

  &:hover {
    color: $thirdcolor;
  }
}

@media screen and (orientation : landscape) {

  #titlecard {
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
    background: linear-gradient(to right, rgba(white,0) 35%, white 55%);
  }

  #namotto {
    height: 100%;
    width: 50%;
    align-items: flex-start;
    justify-content: center;
    padding-left: 8%;
    margin-top: 75px;
  }

  .icon__pic {
    width: 30px;
    height: 30px;
  }


  .icon {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .icon__text {
    width: 70%;
    text-align: left;
    padding: 5px;
    font-size: 0.8em;
  }
  
  .choicesbox {
    justify-content: flex-start;
  }

  .allovers {
    flex-direction: row;
  }

  .protextt {
    font-size: 1.4em;
  }

  .protextw {
    font-size: 1em;
  }

  .overlayright img {
    max-height: 40vh;
  }

  #inquiryform {
    justify-content: space-between;
  }

  #contactinfocont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contactinfo {
    width: 45%;
  }

  #contactmessage {
    margin: 20px auto 0;
  }

  #submit {
    margin-top: 10px;
  }
}

@media screen and (min-width: 576px) {


  #biocontain {
    width: 75%;
  }

  #biowriting {
    font-size: 1.5em;
  }

  #biotextw {
    font-size: 1em;
  }

  #quotename {
    font-size: 1.1em;
  }

  #biobottom {
    font-size: 0.7em;
  }

  .historytext {
    font-size: 0.75em;
  }

  .project {
    width: 40%;
  }

  #overlayleft {
    font-size: 1.3em;
  }

  .protextt {
    font-size: 0.8em;
  }

  .protextw {
    font-size: 0.6em;
  }

  .contacttype {
    font-size: 2.2em;
  }

  #footmessage {
    font-size: 0.7em;
  }
}

@media screen and (min-width: 576px) and (orientation: landscape) {

  .icon__text {
    font-size: 1.1em;
  }  
}

@media screen and (min-width: 768px) {

  #ethan {
    font-size: 2em;
  }

  .menu {
    height: 75px;
  }
  
  .menucontain .menuscroll {
    height: 100px;
  }

  .menutitle {
    font-size: 1.5em;
  }
     
  #namotto {
    font-size: 1.5em;
  }

  #alert {
    font-size: 0.65em;
  }

  .icon__pic {
    width: 50px;
    height: 50px;
  }

  .icon {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .icon__text {
    width: 60%;
    text-align: left;
    padding: 5px;
    font-size: 1.5em;
  }
  
  .choicesbox {
    justify-content: flex-start;
  }

  .anchor {
    margin-top: -100px;
  }

  #biocontain {
    width: 90%;
    margin: 0;
    height: 420px;
  }
  
  #biowriting {
    font-size: 1.8em;
    width: 100%;
  }
  
  #quotename {
    font-size: 1em;
  }

  #biotop {
    flex-direction: row;
    align-items: center;
  }
  
  #biotextw {
    font-size: 0.8em;
    text-align: left;
  }
  
  #asa, #ageinfo {
    display: block;
  }

  #biopersonaltext {
    width: 75%;
  }

  #portimage {
    display: block;
    margin: 0 15px;
    width: 25%;
  }

  #thanksright a {
    font-size: 1.2em;
    color: $secondcolor;

    &:hover {
      color: $thirdcolor;
    }
  }
  
  #thanksleft {
    font-size: 1.2em;
  }

  .protitle {
    font-size: 2.5em;
  }

  .project {
    width: 30%;
    margin-right: 10px;

    &:hover {

      .protext {
        margin: 15px 0;
      }
    }
  }

  #projectoverlay {
    max-height: 80vh;
    width: 80%;
    left: 55%;
  }

  #closeover {
    width: 50px;
    height: 50px;
    top: -20px;
    right: -20px;
    font-size: 1.3em;
  }  

  .allovers {
    padding: 25px;
  }

  #overlaytitle {
    font-size: 1.3em;
  }

  #overlaytext {
    font-size: 0.8em;
  }
  
  #overlayskills {
    font-size: 0.8em;
  }
  
  #overlayurl a{ 
    font-size: 0.9em;
  }

  #availablehalf {
    width: 40%;
    font-size: 1em;
    padding: 50px 0 50px 50px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    overflow: visible;
  }

  #availabletext {
    width: 80%;
    text-align: left;
  }

  #blogcenter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: 30%;
    border-radius: 10px;
    border: 3px solid lighten($secondcolor, 20%);
    padding: 10px;
    font-size: 0.8em;
  }

  #resumehalf {
    width: 60%;
    font-size: 1em;
    padding: 50px 50px 50px 30px;
    background: linear-gradient(to top right, transparent 50%, darken($secondcolor,10%) 50%) no-repeat, linear-gradient(to top right, transparent 0.1%, darken($secondcolor,10%) 0.1%) no-repeat;
    background-size: 60.5% 100%, 40% 100%;
    background-position: 0% 0%, 100% 0%;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    align-items: flex-end;

    .buttonstyle {
      width: auto;
    }
  }

  #resumetext {
    width: 100%;
    text-align: right;
  }

  #contactclose {
    width: 40px;
    height: 40px;
    font-size: 1.5em;
  }

  #inquiryform {
    width: 80%;
  }

  .contacttype {
    font-size: 2.3em;
  }

  #footmessage {
    font-size: 0.75em;
  }
}

@media screen and (min-width: 768px) and (orientation: landscape) {
  
  #inquiryform {
    width: 70%;
  }
}

@media screen and (min-width: 992px) {

  .menutabs {
    font-size: 0.8em;
    height: 80px;
    width: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: all 1s;
    margin: 15px 0;
    z-index: 99;
    padding: 5px 3px;

    &:hover {
      font-size: 1.1em;
    }
  }

  #biopersonaltext{
    padding-right: 10px;
  }

  #portimage {
    width: 20%;
  }
  
  .flexbox-slider {
    font-size: 2.5em;
    flex-direction: row-reverse;
    height: 500px;
  }

  .flexbox-slide {
    max-height: 500px;
    flex: 1;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
    display: flex;
    overflow: hidden;
    transition: flex 1s;

    &.open {
      flex: 6;
      padding: 50px;

      &:hover {

        .imgtitle {
          border: none;
        }
      }
    }
  }

  .flexopen{
    width: 80%;
  }

  .flexcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .imgtitle {
    flex-direction: column;
    height: auto;
  }
  
  .itopen {
    flex-direction: row;
  }
  
  .historylogo {
    width: auto; 
    margin: 0 auto;

    img {
      height: auto;
    }
  }
  
  .historytitles {
    font-size: 0.28em;
    padding: 5px;
    width: 100%;
    height: 100px;
    max-width: none;
  }

  .historylogoside {
    width: 50%;
  }

  .historylogo img {
    height: 100px;
  }

  .historytitlesside {
    width: 50%;
  }

  .textblock {
    width: 90%;
    margin: 0 auto 0;
    height: 0px;
    display: flex;
    transition: height 1s;
  }

  .tbon {
    height: 270px;
  }

  .historytext {
    padding: 15px;
    opacity: 0;
    font-size: 0.3em;
    margin: 0;
  }

  .hton {
    opacity: 1;
  }

  .dutylist ul li {
    margin-bottom: 5px;
  }

  .project {
    width: 20%;
  }

  .allovers {
    flex-direction: row;
  }

  .overlayleft {
    width: 50%;
  }

  .overlayright{
    margin-left: 20px;

    img {
      max-height: 40vh;
    }
  }

  #overlaytext {
    margin: 50px 0;
  }

  .protextt {
    font-size: 0.7em;
  }

  .protextw {
    font-size: 0.55em;
  }

  .buttonstyle {
    font-size: 0.8em;
    margin-top: 20px;
  }

  #availablehalf {
    font-size: 0.9em;
    padding: 40px 0 40px 40px;
  }

  #blogcenter {
    font-size: 1em;
    width: 30%;
  }

  #blogtitle {
    width: 95%;
  }

  #blogcont {
    padding: 15px;
  }

  #resumehalf {
    padding: 40px 40px 40px 30px;
  }

  #returnmessage {
    font-size: 0.8em;
  }

}

@media screen and (min-width: 1200px) {

  #biocontain {
    align-items: center;
    flex-direction: row;
    width: 80%;
  }

  #biowriting {
    font-size: 2.1em;
  }

  #quotename {
    font-size: 1.2em;
  }

  .biopersonal{
    left: 5%;
  }

  #biotextw {
    font-size: 1em;
  }

  .historytitles {
    font-size: 0.34em;
  }

  .historytext {
    font-size: 0.3em;
  }

  .jobtitle {
    margin-bottom: 25px;
  }

  .overlayright img {
    max-height: 50vh;
  }

  .protextcont {
    font-size: 1.4em;
  }

  #availablehalf {
    font-size: 1em;
    padding: 70px 0 70px 60px;
  }

  #resumehalf {
    font-size: 1em;
    padding: 70px 60px 70px 70px;
  }

  .buttonstyle{
    margin-top: 40px;
  }

  #contactinfocont {
    width: 75%;
    margin: 0 auto;
  }

  #footercont {
    width: 90%;
  }

  .contacttype {
    font-size: 3em;
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 1600px) {

  .menutabs {
    font-size: 0.75em;
  }

  #namotto {
    font-size: 2.5em;
  }

  .icon__pic {
    width: 75px;
    height: 75px;
  }

  .icon__text {
    font-size: 2.3em;
  }

  #biocontain {
    width: 75%;
    margin: 60px 0;
  }

  #biowriting {
    font-size: 2.6em;
  }

  #quotename {
    font-size: 1.6em;
  }

  #biotextw {
    font-size: 1.1em;
  }

  .flexcontainer {
    flex-direction: row;
    max-width: none;
  }

  .fcon {
    justify-content: flex-start;
    width: 100%;    
  }

  .historylogo {
    margin: 0;
    width: 150px;
  }

  .historylogoside {
    width: 150px;
  }

  .historytitlesside {
    width: 150px;
  }

  .historytitles {
    font-size: 0.4em;
    padding: 15px;
    width: 150px;
  }

  .historytext {
    font-size:0.4em;
    padding: 25px;
    border-top: none;
    border-left: 1px solid black;
  }

  .textblock {
    width: 0px;
    height: 400px;
    margin: 0;
    transition: width 1s;
  }

  .tbon {
    width: 500px;
  }

  .itopen {
    flex-direction: column;
  }

  #availablehalf, #resumehalf {
    font-size: 1.5em;
  }

  #blogcenter {
    font-size: 1.2em;
  }

  .contacttype {
    font-size: 3.5em;
  }

  #footmessage {
    font-size: 1em;
  }
}

@media screen and (min-aspect-ratio: 16/8) {

}