$color0: #ee799f;
$color1: #660066;
$color2: #000080;
$color3: #48d1cc;
$color4: #006400;
$color5: #caff70;
$color6: #800000;
$color7: #ff0000;
$color8: #663300;
$color9: #ffff00;

#mastermind {
  background-color: #8b7355;
  width: 500px;
  height: 800px;
  margin: 40px auto;
}

#title {
  text-align: center;
  font-size: 3em;
  padding: 10px;
  width: 100%; 
}  

#resetdiv {
  text-align: center;
}

.boardcontain {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 20px;
}

.row {
  width: 250px;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
}

.onerow{
  width: 100%;
  display:flex;
  margin-bottom: 20px;
}

.cell {
  border: 1px solid black;
  height: 50px;
  width: 62px;
}

.button {
  height: 48px;
  width: 48px;
  border-radius: 25px;
  background-color: #cdaa7d;
}

.cellanswer {
  width: 100px;
  border: 1px solid black;
}

.choicerow{ 
  width: 100%;
}

.cellright {
  width: 75px;
  float: right;
  display: flex;
  flex-wrap: wrap;
}

.choicebutton {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid black;
  margin-right: 5px;
  margin-bottom: 5px;
  text-align: center;
  cursor: pointer;

  &#color0 {
    background-color: $color0;  
    color: $color0;  
  }
  
  &#color1 {
    background-color: $color1; 
    color: $color1;   
  }
  
  &#color2 {
    background-color: $color2;  
    color: $color2;  
  }
  
  &#color3 {
    background-color: $color3;  
    color: $color3;  
  }
  
  &#color4 {
    background-color: $color4;  
    color: $color4;  
  }
  
  &#color5 {
    background-color: $color5;  
    color: $color5;  
  }
  
  &#color6 {
    background-color: $color6;  
    color: $color6;  
  }
  
  &#color7 {
    background-color: $color7;  
    color: $color7;  
  }
  
  &#color8 {
    background-color: $color8;  
    color: $color8;  
  }
  
  &#color9 {
    background-color: $color9;  
    color: $color9;  
  }
}

#choicetext {
  width: 30px;
  font-size: 0.6em;
  margin-right: 5px;
}
