$color0: #ee799f;
$color1: #660066;
$color2: #000080;
$color3: #48d1cc;
$color4: #006400;
$color5: #caff70;
$color6: #800000;
$color7: #ff0000;
$color8: #663300;
$color9: #ffff00;

#mastermind {
  background-color: #8b7355;
  width: 1000px;
  height: 600px;
  margin: 40px auto;
}

#banner {
  display: flex;
  padding: 15px;
}

#title {
  text-align: center;
  font-size: 3em;
  padding: 10px;
  width: 75%; 
  line-height: 2.5em;
}  

#resetdiv {
  width: 25%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.select {
  margin-bottom: 5px;
}

#reset {
  width: 25%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
}

.boardcontain {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 20px;
  align-items: baseline;
}

.row {
  width: 800px;
  height: 380px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.onerow{
  width: 50%;
  display:flex;
  margin-bottom: 20px;
  justify-content: center;
}

.cell {
  border: 1px solid black;
  height: 50px;
  width: 50px;
}

.row0,.row1,.row2,.row3,.row4,.row5,.row6,.row7,.row8,.row9 {
  height: 48px;
  width: 48px;
  border-radius: 15px;
  background-color: #cdaa7d;
}

.choicerow{ 
  width: 100px;
  height: 50px;
  display:flex;
  justify-content: space-around;
  align-items:center;
  margin-left: 20px;
}

.done{
  width: 40px;
  font-size: 0.7em;
  text-align: center;
  color: grey;
}

.check {
  font-size: 2em;
}

.ready{ 
  color: black;
}

.guide{
  width: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.hintcell0,.hintcell1,.hintcell2,.hintcell3,.hintcell4,.hintcell5,.hintcell6,.hintcell7,.hintcell8,.hintcell9 {
  border: 1px solid black;
  width: 10px;
  height: 10px;
  border-radius: 6px;
  margin: 4px;  
}

.cellright {
  border: 1px solid black;
  width: 75px;
  float: right;
  display: flex;
  flex-wrap: wrap;
}

.choicebutton {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid black;
  margin-right: 5px;
  margin-bottom: 5px;
  text-align: center;
  cursor: pointer;

  &#color0 {
    background-color: $color0;  
    color: $color0;  
  }
  
  &#color1 {
    background-color: $color1; 
    color: $color1;   
  }
  
  &#color2 {
    background-color: $color2;  
    color: $color2;  
  }
  
  &#color3 {
    background-color: $color3;  
    color: $color3;  
  }
  
  &#color4 {
    background-color: $color4;  
    color: $color4;  
  }
  
  &#color5 {
    background-color: $color5;  
    color: $color5;  
  }
  
  &#color6 {
    background-color: $color6;  
    color: $color6;  
  }
  
  &#color7 {
    background-color: $color7;  
    color: $color7;  
  }
  
  &#color8 {
    background-color: $color8;  
    color: $color8;  
  }
  
  &#color9 {
    background-color: $color9;  
    color: $color9;  
  }
}

#choicetext {
  width: 30px;
  font-size: 0.6em;
  margin-right: 5px;
}

#gameover {
  display: none;
  position: absolute;
  background-color: rgba(84, 84, 84, 0.5);
  top: 150px;
  left: 0;
  height: 250px;
  width: 100%;
  justify-content:center;
  align-items:center;
}
